[2014-07-09 05:47] synthmusic opened #1 "variable casing problem in helpers.js"
When following the quickstart guide: "If you’d prefer to specify your API credentials without using an apiKey.properties file, you can also do that easily by setting the following two environment variables: STORMPATH_API_KEY_ID=xxx"  Kept resulting in:

...helpers.js:169   ERROR: No Stormpath credentials specified.

After trying several different ways to set the credentials, finally reviewed sourc

[2014-07-09 19:47] #1 closed, assigned to nobody

[2014-07-22 00:17] synthmusic opened #2 "Stormpath called every time, for all resources"
The way the middleware is wired, by adding stormpath.init to our app.use, all calls to the app server result in a call to Stormpath via stormpath.Client.getAccount.  I'm not sure if this is intentional, or if something should be caching in the stack - I know it's a new library!  :)  But this results in undesirable behavior:
1. All calls to every resource generate a call to Stormpath (again, not cl

[2014-07-22 22:28] #2 closed, assigned to nobody

[2014-08-01 00:19] wrenoud opened #4 "Feature: group authentication based on route params"
I'm impressed with the Express-Stormpath module and seriously considering implementing it. I'm currently using `passport-stormpath` but still very lightly integrated.

The one feature I don't see that would be useful would be group authentication based on the route params, i.e. (based on [example](http://docs.stormpath.com/nodejs/express/product.html#enforce-user-authorization) from documentation)

[2014-08-01 02:31] wrenoud opened #5 "previous values lost on register error"
When registering if there is an error - weak password, invalid email - all the fields are cleared.

It would be nice if the valid data, like first/last name, was refilled.

[2014-08-04 20:45] matthistuff opened #6 "Boolean configuration options are not working when setting false"
Using `||` to set default value will not work when implicitly using `false`, as `||` is checking for _falsey_ and not _undefined_. This is only an issue when the default value is true.

For instance

[code]

will not work as expected when deliberately setting `opts.enableSurname` (or `STORMPATH_ENABLE_SURNAME`of course) to `false`.

I'm not submitting a pull request for this one as selecting which

[2014-08-11 16:22] #5 closed, assigned to nobody

[2014-08-11 21:14] synthmusic opened #7 "dependency 'forms' deprecated version"
Install shows the following:

npm WARN deprecated forms@0.7.0: Please update to the latest version to ensure the latest security fixes in "qs"

Please consider updating dependency in future release.

Thanks!

[2014-08-15 01:35] wrenoud opened #8 "customData not expanded"
As far as I can tell the customData is not expanded.

I'm doing this check, but it is getting called with every request.

[code]

[2014-08-15 20:23] PradatiusD opened #9 "Object <#Session> has no method reset() when logging out"
Currently testing the stormpath module and found that every time I would log out I would receive this `Object <#Session> has no method reset()`

I checked my `express-stormpath/lib/controllers.js` and found this.

[code]

I switched `req.session.reset()` to `req.session.destroy()` to fix this temporarily but I wanted to know what the root cause was.  Let me know if there is any more info I can pro

[2014-08-25 19:00] #9 closed, assigned to nobody

[2014-08-25 23:58] robertjd opened #11 "options are not evaluated correctly"
For example:

https://github.com/stormpath/stormpath-express/blob/master/lib/helpers.js#L176

That will always evaluate to true, even if I define false in the opts object

[2014-08-27 23:10] #7 closed, assigned to nobody

[2014-08-29 01:03] #6 closed, assigned to nobody

[2014-08-29 01:03] #11 closed, assigned to nobody

[2014-09-10 21:26] rdegges opened #15 "postRegistrationHook for Social"
We don't have any post registration stuff available for social.

[2014-09-10 21:42] #15 closed, assigned to nobody

[2014-09-25 12:42] wrenoud opened #18 "Account not expanding immediately after verification"
I'm having an issue with the lastest release where sometimes the account is not expanded. This only appears to happen after a user goes through the verification process. The account href is the only information that makes it into the redis record, then when the user logs in the cached record is loading but the account isn't expanded any further.

I was only checking that the user property was bein

[2014-09-28 14:54] #18 closed, assigned to nobody

[2014-10-06 21:00] lemieux opened #20 "Password change without the password reset email"
Would it be possible to show the password change view directly without having to issue a password reset email. We would want the user to be able to change it directly in our app if he's logged in. I tried to access `/forgot/change` directly and I got :

[code]

I am using 0.4.5 from npm

[2014-10-15 15:45] lemieux opened #21 "Redirect loop when using groupsRequired and auto-login"
Hi guys,

there is a problem when using groupsRequired on a view. I think you'll understand with the following flow  for an authenticated user:

[code]

I'm not too sure how to fix this without disabling the auto login feature.

Any ideas?

[2014-10-20 20:29] lemieux opened #22 "Errors appearing on password change form"
Hi,

I just encountered a problem with the password change form. The forms library expects the form value to be in the querystring if the form is handled on a GET. Since the password reset form puts parameters (token) in the URL, the form seems to be handled like if it was submitted on a GET and generates a "Password required" error when the page loads.

I did some digging and it seems to me that

[2014-10-20 20:57] #22 closed, assigned to nobody

[2014-10-20 20:59] #8 closed, assigned to nobody

[2014-10-20 21:04] #4 closed, assigned to nobody

[2014-10-20 21:40] #21 closed, assigned to nobody

[2014-10-20 21:52] lemieux opened #23 "More control on error messages"
Hey,

we are currently doing a pass on our UX for our authentication flow and we would like to customize error messages coming from the API. Currently, if we request a password reset for a unknown email, we get a not-so-human-friendly error "Invalid email.".

Would it be possible to customize such messages? It could be enough for us if we had to provide a "translation" for those and they would be

[2014-10-22 16:35] mrosenberg opened #24 "Subdomain support for cookies"
Currently the stormpathSession cookie returned after a successful authorization is set to host-only and cannot be used on subdomains. It would be nice of stormpath-express supported an option to allow cookies on subdomains.

[2014-10-27 14:08] lemieux opened #27 "Ability to pass extra variables to templates context"
As I was making sure the analytics were set on each page of our app, I figure out I would not be able to do it on all of express-stormpath pages since I do not control the context passed to those pages. Would it make sense to pass an object to the `init` function like `extraTemplateContext` with predefined values to be passed to those templates? I would need to pass things like analytic service ID

[2014-10-27 14:43] lemieux opened #28 "Better error handling for humans"
Currently, express-stormpath outputs raw error pages when something happens. From what I can see, it's output a lot of `res.send(400)` or `res.send(500)` on "human facing" pages. I can understand for an API route, but for a page that a user can see, having a `400 Bad request` is less than desired.

My take on this would be to add a template for errors and use it to render them properly.

We saw th

[2014-10-27 20:27] #27 closed, assigned to nobody

[2014-10-27 21:05] lemieux opened #30 "Auto login after a password change"
Like the auto-login feature post-registration when the verification flow is disabled, we would like to have a similir functionnality post-password change. From a UX perspective, it makes little sense to have a auto-login at the registration but not at after the password reset.

I would like very much to add this (fully optional) feature to the lib.

What do you think? I would probably have a PR to

[2014-10-29 23:32] #20 closed, assigned to nobody

[2014-10-30 00:16] #24 closed, assigned to nobody

[2014-10-31 13:37] lemieux opened #33 "Password change page"
As discussed in #20, express-stormpath should also provide a password change page. This should be almost the same as the password reset one, but instead of verifying a token, the current password should be provided. This page should only be accessible by authenticated users. I think it should also be possible to configure whether or not you should sign in again after the password change. Either wa

[2014-11-12 14:46] lemieux opened #34 "Errors on login page when using ?next in the URL"
Hi guys,

I just experienced the same error as #22 on the login page. The same workaround could be used to fix it I guess.

[2014-11-12 23:02] #34 closed, assigned to nobody

[2014-11-13 22:47] goldnmean opened #35 "Create Account - Confirm Password"
I need an option of being able to add a Confirm Password field beneath the Password field on the default Create Account form.  This Confirm Password field exists on the Create Account form in the Admin Console.

[2014-11-18 22:44] #30 closed, assigned to nobody

[2014-11-20 16:41] lemieux opened #36 "Unauthorized page not passing app to locals"
The unauthorized page is not passing `app` to locals variables which makes it unaccessible in the template. This part is useful to pass shared variables to the templates. It crashes if your base template is using `#{app.get(...)}`. One way to fix it would be to set the app before each `helpers.render(req.app.get('stormpathUnauthorizedView'), res);` or create something like `helpers.renderUnauthori

[2014-11-21 00:05] #36 closed, assigned to nobody

[2014-11-21 17:03] lemieux opened #37 "Resend verification page"
We were wondering what would happen if one of our users lost, deleted, forgot the verification email. Do you have plan to have a resend verification page or something like that? Currently it seems like the user would be in some sort of limbo state where he can't reset his password nor signup with the same email.

[2014-11-23 09:02] fogelfish opened #38 "new discrepancy between index.js and package.json?"
I’m starting out with StormPath by using this repository and following the link from here to the Quickstart at

https://docs.stormpath.com/nodejs/express/quickstart.html

... and I think there is a problem: the current documentation shows that **index.js** requires 'express-stormpath’, but **package.json** doesn't include it among its dependencies.

**index.js**

[code]

The dependencies in **pack

[2014-12-08 20:56] #38 closed, assigned to nobody

[2014-12-08 21:11] jmls opened #40 "how to force authentication on all routes"
I've followed the quickstart guide (and, may I say, great job!) and got auth working just fine on certain routes.

however, I'm a little stuck on how to ensure that authentication is done on all routes, even static ones.

I have this in my app

app.use(loopback.static(path.resolve(__dirname, '../client')));

how can I force a user to login before accessing the site ?

thanks !

[2014-12-08 21:21] #40 closed, assigned to nobody

[2014-12-10 13:54] jmls opened #41 "having to refresh with angular"
I have a very simple angular page , served statically by express

index.html

..snip..
 <body ng-app="app" ng-controller="MainController">
    {{config}}
    </body>
..snip..

I wanted to add auth to the app, so put this into my node program

app.get('/',stormpath.loginRequired,function(req,res) {
  res.sendfile('index.html');
})

so, I fire up the server, go to the url, and I get a login screen.

[2014-12-10 15:11] #41 closed, assigned to nobody

[2014-12-10 17:24] jmls opened #42 "email group or irc"
rather than raising tickets all the time to ask questions, is there  an email group or irc that I can communicate with ?

I am wanting to save customer data when registering a new user - but was wondering how to do this with the standard jade forms supplied with stormpath-express

thanks

[2014-12-10 17:29] #42 closed, assigned to nobody

[2014-12-22 14:28] bastiankistner opened #46 "app crash on 503 error during initialization"
For a few minutes, I got the following error during startup of my application.

Stormpath seems to have responded with a **503** status code, which crashed the app.

Meanwhile, everything is working fine again, so I assume that there is an uncaught issue when creating the callback for the request module.

**ERROR**

[code]

**ORIGIN `stormpath/lib/ds/RequestExectuor.js`**

[code]

[2014-12-22 17:24] #46 closed, assigned to nobody

[2015-01-02 19:51] jmls opened #47 "sub domains and password reset"
having a problem with sub domains and a password reset

for every new customer of our app (demo) we spin up a new sub domain, so we have

foo.demo.com
bar.demo.com

now, we obviously don't want to have to create a new app for every potential customer, so we are using a demo application in stormpath, and groups (foo/bar/etc) to authorise access to each sub domain

however, the password reset mechan

[2015-01-05 22:03] robertjd commented on #47
Hi @jmls

Password reset policies (which include the customizable Link Base URL for the password reset flow) are defined on a per-directory basis, so you could have a directory per sub-domain.

I'd also take a look at our multi-tenancy overview:  http://docs.stormpath.com/guides/multi-tenant/

[2015-01-06 09:57] jmls commented on #47
Hey, robertjd. I did look at using directories, but have a couple of problem with this :

the first is that I need a group of users that are "admins" that can log into any subdomain. I did this by having an "admin" group and then checking the user membership ( stormpath.groupsRequired(['admins', )

if I went for multiple directories, I would have to create this group per directory, and then have t

[2015-01-06 17:45] omgitstom commented on #47
Hi @jmls

We do not have this level of granularity for the link that is generated by password reset.  How other customers do multi tenancy with a single directory for password reset is to have a generic password reset page like demo.com/password-reset. This page will reset the password for the account who's token is generated for the original password reset request, it does not require the subdoma

[2015-01-09 19:23] robertjd commented on #28
Bump this - a lot of useful error information (such as when an account store is disabled) is simply being rendered as an "Oops" message

[2015-01-10 03:25] holic opened #48 "App crashes with 404 shortly after initialization"
I'm initializing my Express app using the suggested env variables and the following code:

[code]

However, shortly after I start my app, I get a hard crash with only the following error:

[code]

I'm not really sure how to debug this...there are no other details provided by the error/crash.

[2015-01-12 17:19] robertjd commented on #48
Can you verify the HREF that you're passing as STORMPATH_APPLICATION ?

It sounds like it can't find the application that is identified by that href.

[2015-01-12 19:51] rdegges commented on #48
Heyo @holic I just pushed some experimental logging stuff into the develop branch of this library. I'm working on this more now. It should make things like this a bit easier to debug in the future.

Anyhow: if you're still having issues with this, please hit us up via support@stormpath.com -- the issue you're seeing means that the app href you defined isn't valid for some reason and the app can't

[2015-01-12 22:48] holic commented on #48
I dug around a bit in the code and saw that Stormpath defaults to a few different env variables, so I've updated the issue to reflect the new initialization code. Here's what the env vars look like:

[code]

[2015-01-12 23:35] rdegges commented on #48
Can you email your full code to support@stormpath.com so I can take a look at it?

[2015-01-13 01:06] rdegges commented on #48
Hey @holic, just closing this one out since we got it fixed. For the record, was just a misconfiged app href.

On a related note, however, I just pushed a new release, 0.6.1, which makes these errors all sorts of awesome -- and easier to debug =)

[2015-01-13 01:06] #48 closed

[2015-01-13 01:14] rdegges commented on #47
I think the end-solution for this is that when Stormpath adds the ability to update this on the fly, we can revisit modifying this functionality. But for now, @omgitstom 's suggestion is prolly the best way to handle things.

[2015-01-13 01:14] #47 closed

[2015-01-31 21:04] dorukeker commented on #40
Hello,
I am not using the strongloop and I got a similar issue. But I also found the cause in my case. I am sharing here so it might help some.

I was initialising the StormPath after I use my router and it did cause trouble. When I switched places it worked fine.

Here are two of the case.
Not working (giving the redirect loop):

    var express = require('express');
    var app = express();

[2015-02-01 04:56] kangho99 opened #49 "google login does not create new account"
(my appologies this should go to Stormpath support, not on issues)

controllers.js line 517~

after retrieving auth code from google, APP.getAccount is called but err is returned with

{ name: 'ResourceError',
  status: 400,
  code: 7200,
  userMessage: 'Oops! We encountered an unexpected error.  Please contact support and explain what you were doing at the time this error occurred.',
  developerM

[2015-02-01 05:31] #49 closed

[2015-02-03 07:37] bobbycircle commented on #9
Excuse me, but how does one prevent one's instance of express-session from colliding with stormpath's? I think I'm having the same problem. Thanks for any advice!

[2015-02-05 18:23] bobbycircle opened #50 "Can't turn off the requirement for givenName on register"
Maybe I'm doing something really dumb, but I've spent some time banging my head against this and can't get it to work.

I'm trying to present a reg form that requires simply Username, Email, and Password. But when I try and register, the form comes back with the alert, "Account givenName cannot be null, empty, or blank."

In my code I have:
[code]
I've added some debug output to the `helpers.colle

[2015-02-06 00:11] robertjd commented on #50
Arg!  Let's see if we can figure this out.  Are you using the default login page, or a custom one?

[2015-02-06 00:13] robertjd commented on #9
This part of the docs should help to explain let, let me know if you still have questions:

https://docs.stormpath.com/nodejs/express/product.html?highlight=session#session-management

[2015-02-06 22:50] rdegges commented on #50
Working on this now. This is a confirmed bug =)

[2015-02-06 22:50] rdegges commented on #50
Going to start by adding a test for the registration controller to assert these guys. Right now there are no controller tests yet, so might take a little bit.

[2015-02-10 00:25] #50 closed

[2015-02-10 00:29] rdegges commented on #50
Bam, this is now fixed and released.

[2015-02-12 08:58] braindevils opened #52 "extreme slowness when adding expand...."
When enabling expandGroups or expandProviderData etc, the response times (caching in memcached enabled!) go from a few millisecs to over 1 second. Seems that info is not being cached? Also, when using the middleware (app.use), but not using a loginRequired on that route, is still really slow.

[2015-02-12 16:50] rdegges commented on #52
Are you using the latest release? We had some issues with this several releases ago.

The way it works is as follows:

- On each request, we'll fetch (in parallel) whatever expanded resources you have specified (groups, customdata, etc.).
- The first time it happens, this means 1 API call for each resource.
- The second time it happens, it means 1 API call from the *cache* for each resource.

When

[2015-02-13 01:38] romant commented on #52
Hi @rdegges - this did come back. I took out the grouping and put it into the customData instead, and manage manually, as the latency was too great here in Australia. So I'll mirror @braindevils's latency point on the group expansion.

[2015-02-13 01:43] rdegges commented on #52
Hey @romant, thanks for the info! I'll have to do some further debugging on this with my partner in crime, @robertjd early next week and get back to ya'll!

[2015-02-19 01:00] rdegges commented on #35
I'll get this into the library soon =) Thanks all for the feature votes! I was initially against this <3

[2015-02-19 01:04] rdegges commented on #28
OK. I have an idea for this.

I'm thinking about creating an event emitter for error handling.

EG:

app.on('failedAPIAuthenticationAttempt', function(req, res, next) {
  ...
});

app.on('failedWebAuthenticationAttempt', function(req, res, next) {
  ...
});

etc

What do you think?

[2015-02-20 02:06] rdegges commented on #37
So I just implemented this in the development branch. Going to finish cleaning it up and push a new release tomorrow with this included by default. The way it'll work is pretty simple:

On the login page you'll see a new link (like forgot password?) for resending your verification email if you have account verification enabled.

[2015-02-20 04:06] romant commented on #52
@rdegges any update? Eagerly awaiting :)

[2015-02-20 17:17] rdegges commented on #37
Ok, this feature is now fully merged in and released. If you upgrade to the new **0.6.6** release this will be automatically turned on if you have `enableAccountVerification: true` in your settings.

[2015-02-20 17:17] #37 closed

[2015-02-20 17:35] rdegges commented on #52
Hey @romant, sorry for the delay! I've been working with @robertjd on this, but we need some more debugging to get to the root cause. We've have some time blocked off Monday to work on this, so hopefully I can give you an answer then =)

[2015-02-23 20:41] Solido opened #53 "Disable Cache"
Currently if I modified custom data in the Admin UI,
the server cache hide the modification to my webpage.

Can we set false to the cache option for custom data only for example ?

[2015-02-23 21:08] rdegges commented on #53
Hey @Solido, that's a good question.

Right now our underlying Node SDK *requires* some form of cache, which is an in-memory cache by default. This is done this way as our implementation puts all requests through a cache manager.

What you can do to 'workaround' this for now, is do something like this:

[code]

This will use the default in-memory cache, but will set the expirey times to 1 second (

[2015-02-24 17:32] lhazlewood commented on #53
@rdegges the Java SDK provides a DisabledCacheManager implementation that always returns null for cache lookups.  This is an implementation of the Null Object design pattern: the CacheManager does not need to be null (checks for null on the CM do not need to be made, reducing cyclomatic complexity), but it is effectively disabled.  The Node and Python SDKs should have the same concept to allow use

[2015-02-24 17:57] Solido commented on #53
Based on previous indications, my deduction was that I can use customData as a cold data storage like configuration but not as a live storage.

If I modified data from my web UI and/or from StormPath admin or others webservice connected to stormpath I loose the integrity of data. I understand this is out of scope of current implementation but I was expecting this from Stormpath to save me lot of l

[2015-02-24 18:02] rdegges commented on #53
@lhazlewood indeed. I was actually going to talk with @robertjd about this when we're in office together on this =) But yes, we'll get this into the Node SDK so it gets bubbled up to this library.

@Solido this is a really great use case, btw. We should definitely support this (and will!).

In general, our approach with caching is to try to avoid as many API requests to our service as possible (th

[2015-02-25 10:57] richfoxton opened #54 "Unverified user receives ambiguous error message when logging in"
If using email verification, when attempting to login as an unverified user (with correct credentials) the standard error message is returned...'Invalid username or password.'

It would be much better if a message reminding the user that they need to verify their email was displayed.

Thanks!

[2015-02-25 14:24] richfoxton opened #55 "groupsRequired Middleware should support json response"
Just as the authenticationRequired middleware will return json where 'accept' headers specify, it would be great if the groupsRequired middleware could do this too.

[2015-02-25 17:07] rdegges commented on #55
Am working on plans for this =) We'll get something in place soon. I've been trying to figure out a good way to handle this stuff.

[2015-02-25 17:08] rdegges commented on #54
Great find! I'll get this in there today.

[2015-02-26 12:35] richfoxton commented on #55
I'm a complete novice so this is probably way off base...

Could you just return an error rather than rendering a view at this level and then intercept this elsewhere and return the error in the right format for the client. A bit like the example [here]...(http://runnable.com/UTlPPV-f2W1TAAEf/custom-error-pages-in-express-for-node-js) but in this case obviously for errors other than the 404?

Woul

[2015-02-26 17:46] rdegges commented on #55
Oh right -- I think the main issue is this though: coming up with a way to list all possible errors / exceptions, and let a user define values for them to override the defaults.

Right now the errors are (for the most part) returned properly based on the type of middleware (eg: `stormpath.groupsRequired` is meant for web users, not API stuff, which is why it's returning HTML). HOWEVER, I'd love to

[2015-02-26 19:43] richfoxton commented on #55
Not easy I know, much prefer the first solution personally. In the meantime an API equivalent of stormpath.groupsRequired similar to the authenticationRequired middleware that was added would be nice. I’d have thought this was pretty important functionality for a lot of use cases.

Cheers.
On 26 February 2015 at 17:46:10, Randall Degges (notifications@github.com) wrote:

Oh right -- I think the ma

[2015-03-11 00:27] romant commented on #52
Hi @rdegges is there anything you can share on this?

Thank you.

[2015-03-11 00:28] rdegges commented on #52
Hey @romant, sorry not yet! Robert and I didn't get a chance to pair on this yet. We ended up having some illness / travel between the two of us, so we're hoping to get to this sometime this week.

Sorry for the slow turnaround time, been kinda crazy over here.

[2015-03-21 15:55] TomDunn opened #57 "Allow init to accept an already configured cache client"
First off, I've really enjoyed using Stormpath so far. Great work!

I'm looking to enable caching for my app. I see that the [product guide](http://docs.stormpath.com/nodejs/express/product.html#enable-caching) describes how you can tell stormpath what the host, port, and auth options are for the cache and then it makes its own connection to the cache.

Why not just accept an already configured ca

[2015-03-25 17:21] robertjd commented on #57
I agree!  The underlying Node SDK does support this, see the docs here and note the `client` option:

http://docs.stormpath.com/nodejs/api/client#redis

For a PR, I think we need to pass that option here:

https://github.com/stormpath/stormpath-express/blob/daaf31023043e5077b167566faf5740a0cb8345a/lib/stormpath.js#L39

[2015-03-27 02:58] TomDunn commented on #57
Thanks! Change seems straightforward enough, any suggestions for testing?

[2015-03-27 03:05] TomDunn commented on #57
Actually, it looks like there is already a request in progress for this same feature:
https://github.com/stormpath/stormpath-express/pull/56

Diff shows a change almost identical to what I made.

[2015-03-30 19:47] rdegges commented on #57
Thanks everyone for commenting on this -- and sorry for my slow turnaround time.

I'm going to be merging the PR #56 into the library, and this is most definitely a needed / useful option.

I really appreciate ya'll bringing this to my attention <333

I'll leave another comment here once the PR has been merged, and a new release has been cut.

[2015-03-30 20:07] rdegges commented on #57
Bam, new release has been cut! If you fetch 1.0.2 you'll be able to specify the `cacheClient` option when setting up the middleware =)

[2015-03-30 20:07] #57 closed

[2015-03-31 14:47] jeffkole opened #59 "`authenticationRequired` middleware loses query parameters of original URL"
On [line 180 of authentication.js](https://github.com/stormpath/stormpath-express/blob/master/lib/authentication.js#L180), the query parameters are explicitly stripped off from the URL before redirecting to the login page.

[code]

This means that if you navigate to a page with query parameters and are redirected to login, you will not arrive back at the original page once you complete login.  It

[2015-03-31 21:06] rdegges commented on #59
Hey Jeff,

Good question. When I initially wrote this I didn't actually consider that at all -- I was just appending the next query param.

I'm 100% open to a PR to support maintaining query strings. I don't see any issue in getting that functionality into the library.

+1

[2015-04-01 17:44] rdegges opened #61 "Making Session Management More Usable"
Right now, this library initializes its own session stuff as `req.session`. This is a problem for many people, as most node libraries initialize their own session stuff under the same name -- this causes issues.

What I'd like to do is migrate all Stormpath session stuff to `req.stormpathSession`, this way there will be no chance of conflict for non-auth related sessions.

I've got about 99% of th

[2015-04-02 10:05] ppitonak opened #62 "Wrong session duration in docs"
Documentation says that by default, session expires after one month but in fact, it expires after 30 minutes

Code which defines default value:
https://github.com/stormpath/stormpath-express/blob/1.0.3/lib/settings.js#L60
[code]

[2015-04-02 16:50] rdegges opened #63 "Handle CSRF Expiration Errors in a Cleaner Way"
Right now, if a user opens up a page (login / registration), waits for a bit (for their session to expire), then submits the form -- they'll receive a CSRF error page.

This is quite ugly, and instead we should override this functionality with a custom flashed message of some sort, and re-render the page the user was on.

[2015-04-03 17:19] rdegges commented on #62
Thanks, you're 100% right, I'll fix this now =)

[2015-04-03 17:22] rdegges commented on #61
My PR is finished for the CSURF library, it can be found here: https://github.com/expressjs/csurf/pull/67

Once this is merged in and released, I'll update our csurf dependencies here, and cut a new release with the above fixes included.

[2015-04-03 17:22] rdegges commented on #59
Closing this out as everything is merged in!

[2015-04-03 17:22] #59 closed

[2015-04-03 17:26] rdegges commented on #35
This is officially available now. You can use the new `enableConfirmPassword` and `requireConfirmPassword` settings to enable this functionality!

[2015-04-03 17:26] #35 closed

[2015-04-03 17:31] rdegges commented on #62
Merged this in, closing.

[2015-04-03 17:31] #62 closed

[2015-04-05 01:32] sholladay commented on #35
This is great, thanks @rdegges !

[2015-04-06 03:47] romant commented on #52
Hi @rdegges. I haven't used the feature since its inception due to this bug. Am certain there are others affected.

Any eta on this one? Or if fixed already - please update.

Many thanks!

[2015-04-07 00:53] rdegges commented on #52
Hey @all,

This is sitll being worked on in the underlying Node.js SDK. It's apparently quite a bit trickier to solve than originally thought, which is why this issue has been stagnant.

We're making progress on the issue and will try to get it fixed soon. Sorry for the delay everyone!

In the meantime, we've pushed out quite a few performance updates to the core stormpath API, so if you want to i

[2015-04-08 14:44] rdegges opened #64 "Angular SDK Integration"
We should make this work with our Angular.js SDK by modifying the way sessions work: we should switch from storing a plain-old user href as the session cookie to storing a JWT.

[2015-04-08 15:41] robertjd commented on #64
Agreed!  We also need to re-define some endpoints to serve HTML vs. JSON responses, and standardize request and response structures.  We're actually working on this ATM, we want to bring all our frameworks inline with the same spec so that Angular will work with all of them :)

[2015-04-08 18:50] rdegges commented on #61
All merged, cut, and released!

[2015-04-08 18:50] #61 closed

[2015-04-15 20:38] terchris opened #65 "LinkedIn support in Express-Stormpath"
Hi
I'm planning a site for health data and I would like to store the users in a secure system like stormpath.

When I read on your site and search the net I see that linkedIn support is mentioned. But I can't find if it is something that is planned or something that is there.

Regards
Terje

[2015-04-15 21:45] rdegges commented on #65
Hey Terje,

This is something that our core API supports, but is not yet supported in this library directly. I'll have to work on getting that added in for ya.

-R

[2015-05-14 13:38] bendpx commented on #63
Any updates guys?

[2015-05-14 16:43] coreybutler opened #67 "Alternative Template Engines"
Is it actually possible to specify a templating engine other than jade?

The [docs](https://docs.stormpath.com/nodejs/express/product.html#using-ejs) indicate EJS support, but I couldn't get this to work as documented. It looks like [Jade is a hard dependency](https://github.com/stormpath/stormpath-express/blob/master/package.json#L29).

Frankly, I don't want to use Jade or EJS... my engine of cho

[2015-05-14 23:28] luyizhao commented on #67
@coreybutler , you can define a custom renderHandler and set it to use Nunjucks when you initialize stormpath. Something like this:

[code]

[2015-05-16 05:50] adarqui opened #68 "postRegistrationHandler not called when enableAccountVerification is set"
Hi everyone,

What's the best way to go about performing logic when an account is registered, with email verification enabled?

Regarding this "issue":
- Last commit: a4c685667ea40c1d62f6b3a0502c155fec326870
- Branch: master

In lib/controllers.js there is the following block starting on line 162:

[code]

I could do it on Login, but it's a bit more messy. I'll do that if I have to, just wondering

[2015-05-16 05:56] adarqui commented on #68
Just noticed this might already be in there. For some reason though it's never getting triggered when the user verifies their email.

lib/controllers.js line 521:

[code]

I'm developing something internally, so maybe that's why it's not able to trigger the handler:

    router.get(app.get('stormpathAccountVerificationCompleteUrl'), controllers.verificationComplete);

ah yes.. ok i've talked mysel

[2015-05-16 05:56] #68 closed

[2015-05-17 01:35] rdegges commented on #68
Glad it's working =)

[2015-05-18 17:38] rdegges commented on #63
Gah, still haven't gotten to this yet, sorry >< I'll try to work on this first thing tomorrow morning. I've got some time dedicated to this project then.

[2015-05-19 17:47] rdegges opened #69 "Not Allowing First / Last Name to Be Optional"
For some reason, if you disable first name / last name fields, the registration page still enforces them :(

[2015-05-19 18:07] rdegges commented on #69
Whoops -- this does, in fact, work. I had a typo in my test code.

[2015-05-19 18:07] #69 closed

[2015-05-21 00:54] agonbina opened #70 "Incompatibility with Baucis(which builds on top of Express.js)"
Hi,

I am trying to use the stormpath-express SDK, but for some reason the request body(on a POST request) goes away thus making the SDK incompatible with [baucis](https://github.com/wprl/baucis)(which adds on to Express.js and allows regular Express middleware)

I looked at the code that's doing the initializing of the stormpath SDK but I couldn't figure out why the request data is getting lost a

[2015-05-22 12:47] agonbina commented on #70
As I suspected the issue is that somehow before the request middleware reaches the baucis controllers(i.e. routes), the ```req.body```( which is parsed by the  ```body-parser``` module) value is being set to an empty object, thus the baucis controller never receives it.

Thankfully ```baucis``` can also parse the request data as a stream, I just had to set ```req.body = undefined``` for it to igno

[2015-05-22 12:47] #70 closed

[2015-05-29 03:06] romant commented on #52
One marginal workaround for this would be to offer local (not just US) instances of Stormpath. @rdegges any thoughts / view on when this will be possible?

Thanks.

[2015-06-04 16:14] robertjd opened #71 "Improve situation: Stormpath Application not ready"
If you hit an endpoint that requires the Stormpath application, and it has not yet been fetched from the a API, you'll git a bad reference exception.

We want to make two improvements:

* Have an async getter (promise?) for the application reference, and send down a 500 error if the reference isn't available yet
* Provide an `.on('ready')` type of handler that a user can use, if they want to wait

[2015-06-14 09:31] thprapav commented on #65
+1 for this. Would like to be able to use this functionality soon.

[2015-06-17 15:59] ksmithut opened #72 "Directory Support"
Please correct me if I'm wrong, but right now the module is tied to an application's main directory. It would be nice to have support to choose other directories in an application to use.

Here's my use case: I am building a microservice architecture with each microservice using express-stormpath's oauth2 functionality. I've gotten it to work wonderfully with an application. There will only be a h

[2015-06-17 20:02] rdegges commented on #72
Heyo -- this is actually supported already -- but the way it works is a bit 'different'.

When you have a Stormpath Application, you can map as many Directories to it as you want. By default, Express-Stormpath will lookup / retrieve your Application, because things like API authentication / etc are all based off the Application object, not a directory object.

Let's say you have 5 Directories mapp

[2015-06-17 20:02] #72 closed

[2015-06-17 20:46] ksmithut commented on #72
That's awesome, thanks :) I'll come back if it doesn't work, but you explained it well and it makes sense that it would work.

[2015-06-17 20:48] ksmithut commented on #72
@rdegges so if you find and use the right one automatically, is there no way to restrict a user from Directory 1 from a microservice that is meant to be using Directory 2?

[2015-06-17 23:41] rdegges commented on #72
That's correct -- there's no way to restrict it. This was done on purpose though -- as a central design decision.

EG: If you want to have truly separate 'applications', then you should simply create multiple Applications and map as many directories to those as you'd like.

The idea of an Application is to be the central access point for one codebase / app / whatever.

When I build SOA stuff mysel

[2015-06-19 15:21] ksmithut opened #73 "oauth2 grant scopes"
Just a quick question (I hope), but does stormpath-express support oauth2.0 scopes? Or is this accomplished through stormpath groups?

[2015-06-19 16:49] rdegges commented on #73
Right now this library doesn't expose any Oauth2 scope stuff. We're working on this right now.

The goal is to allow users to provide their own scoping mechanisms, or default to using groups.

[2015-06-19 18:32] ksmithut commented on #73
ya, I guess it wouldn't be difficult to have build my own way of scoping out endpoints without the need to have this module provide that mechanism. Thanks :)

[2015-06-19 18:32] #73 closed

[2015-06-21 06:47] rdegges commented on #65
Quick update: we've been working on a new config format for this library which is almost complete. Once this major release has been made, we'll work on adding in a lot of the feature requests from the tracker here. We didn't forget about this, promise!

[2015-06-25 21:34] andrhahn commented on #71
+1 on this.  My supertest tests fail because my server starts up and requests are sent before the stormpath.init is complete.

[2015-06-25 22:38] rdegges commented on #71
@robertjd and I have a solution for this which we will be working on in the near future. Right now we're working on cutting a new release with some new config options / etc., so once the dust has settled with that we'll be fixing bugs.

[2015-06-26 16:10] erbridge opened #74 "customData isn't being updated"
I'm setting some values on the customData, saving the user, then requesting them from a different route, and I'm getting the pre saved version. If I set the TTL to 1ms, it works fine.

I would expect the in memory cache to get updated immediately.

[2015-06-26 16:15] rdegges commented on #74
Can you share the code you're using to reproduce this? I'll try to get it fixed.

[2015-06-26 16:23] erbridge commented on #74
Here's a simplified example:

[code]

The view just has buttons that post to `/start` and `/stop`

[2015-06-26 16:26] rdegges commented on #74
Can you please try replacing:

[code]

With:

[code]

In your code sample?

We've got a known bug in our underlying Node SDK which is affected by this: https://github.com/stormpath/stormpath-sdk-node/issues/161

Basically -- if you modify custom data, you need to call `req.user.customData.save()` to actually persist your changes AND update the cache. Simply calling `req.user.save()` will ONLY upda

[2015-06-26 16:26] rdegges commented on #74
To be clear: can you give that a try and let me know if it fixes your issue temporarily?

[2015-06-26 16:30] erbridge commented on #74
Yes, that solves the issue, thanks. You might want to add documentation for that method exists. I'd prefer it to saving the entire user anyway.

[2015-07-01 11:58] denim2x commented on #33
I've come up with a possible fix; may I submit all code changes as a single commit or separately as multiple commits?

[2015-07-02 23:48] rdegges commented on #33
Hey @denim2x, it'd be great if you could submit a PR to the develop branch in one big PR. I'll review things.

Right now I'm still against providing this, as it doesn't make much sense to me.

Here's my full reasoning (wall of text follows):

For users who 'forget' their password, our existing password reset workflow is really the ideal way to allow a user to reset their password. We get the user

[2015-07-02 23:51] rdegges commented on #33
Also, for what it's worth, I had another idea related to this a while back which I think would be pretty cool:

Another library that sits on TOP of express-stormpath which provides an entire CRM for user management. Something like a fully complete user dashboard. It could allow users to do things like:

- Set an avatar.
- Change their password / username.
- Change their email.
- Set up two factor

[2015-07-03 00:11] rdegges commented on #74
Will do!

[2015-07-03 00:11] #74 closed

[2015-07-04 02:19] sholladay commented on #33
Personally, I think both ideas are great. For me, using Stormpath comes down to the plug-and-play experience. Having an even more abstract package would be useful in many scenarios, especially for greenfield projects. But I definitely need a password change page, regardless of which module it comes from.

It's unusual to have the time, skill, knowledge, and resources to build part of an applicatio

[2015-07-04 18:08] denim2x commented on #33
I'd like to know whether [the bounty](https://www.bountysource.com/issues/5679655-password-change-page) on this issue is still applicable or not. If anyone believes it would be more appropriate to implement this feature as a separate package, please let me know.

[2015-07-04 22:51] sholladay commented on #33
As long as it becomes an official patch in some form or another (plugin, dependent package, etc) and is supported by Stormpath, I will accept it.

Seems a bit harder than I thought when I first posted the bounty, so sorry about that. But it is still valid. I think the best path forward is a proof of concept (PR or separate repo) that @rdegges can get his hands on and discuss.

[2015-07-06 18:03] rdegges commented on #33
I'm totally happy to review all branches / etc. with this stuff in there. I try to keep a really open mind to any contributions! <333

[2015-07-06 19:36] denim2x commented on #33
I've set up a minimal demo [here](http://express-stormpath.rhcloud.com/login). Just login using batman@mailinator.com:Passw0rd and you will be redirected to the password change page; here you should enter the old password first and then the new password: Batm0bile. After submitting you will be prompted to login; now you can verify whether the new password actually works. Easy as pie. @sholladay I

[2015-07-07 00:07] sholladay commented on #33
Looks good to me, @denim2x. This is pretty much exactly how I envisioned it. Could you please link to a repo or pull request with the proposed solution? I will consider the bounty details again after we figure out what is going to happen here.

@rdegges if you had to boil down your concerns into a few words, would you say they are more UX related or architecture related? I hear your points on both

[2015-07-08 16:58] denim2x commented on #33
@sholladay I've set up two solutions: [a fork](https://github.com/denim2x/stormpath-express) of stormpath-express and [stormpath-changer](https://github.com/denim2x/stormpath-changer).

[2015-07-14 17:21] rdegges opened #78 "Don't rely on HOME Being Set"
https://github.com/stormpath/stormpath-express/blob/master/lib/settings.js#L222

We had a customer who was using this library on aws opsworks, and because HOME wasn't set, it was crashing. Took a lot of debugging, but it was because of this :(

[2015-07-14 17:59] lhazlewood commented on #78
This is just a default algorithm - it should check $HOME/.stormpath/apiKey.properties as part of the api key resolution heuristics.  If $HOME isn't set, it is expected that the user configures the exact file path themselves, so I don't see what the issue is here.

[2015-07-14 18:03] lhazlewood commented on #78
@rdegges for example, read the numbered list (1-5) here:

http://docs.stormpath.com/java/apidocs/com/stormpath/sdk/api/ApiKeyBuilder.html

These are the API Key resolution heuristics for the Java SDK.  If not available in one of these locations, the user *must* configure the API Key path (or raw values - not recommended) explicitly.

[2015-07-14 18:45] maceip commented on #71
+1

[2015-07-23 07:31] orpx commented on #63
+1

[2015-08-01 01:24] sholladay commented on #54
Did this ever get fixed? @rdegges

[2015-08-10 02:13] alexwainger commented on #35
@rdegges Could you update the documentation here: https://docs.stormpath.com/java/spring-boot-web/registration.html#form-fields

This is a great add, but i'm not totally sure how to go about using it.

[2015-08-31 20:00] rdegges opened #80 "uuid Needs to be a Dependency"
The latest release relies on uuid to be installed, and when it isn't, it throws an error.

[2015-08-31 20:07] #80 closed

[2015-08-31 22:33] rdegges commented on #78
Closing this as this logic is now a part of our Node SDK.

[2015-08-31 22:33] #78 closed

[2015-09-02 10:31] ppitonak opened #84 "Post login handler not invoked in 2.0.1"
Post login handler is not invoked when using social login (verified with Facebook), it works correctly with username/password.

[2015-09-02 22:39] xtu opened #85 "customData overwrites the object in the cache after save"
In the postLoginHandler, I tried to update a custom field (let's say Field A) based on the value of another field (Field B). I do it like this way:
[code]
Because in postLoginHandler, customData is not expanded, I have to expand it manually by calling getCustomData. After updating the Field A and calling account.customData.save() method to save it, in another following router, I called getCustomDa

[2015-09-03 13:19] aghorpade commented on #74
We also faced same issue. Yes, but user.getCustomData.save() code change saved us. Thanks for this information here.

[2015-09-04 07:31] baer opened #86 "Bug: Unauthorized Access Attempt Crashes App"
This view comes back as undefined and crashes the app: https://github.com/stormpath/stormpath-express/blob/ec77ebee48a4cc790856b08dd6e9e8ef15bb120a/lib/authentication.js#L59

[code]

[code]
stompath-express#2.0.1
node 0.12.7

[2015-09-04 08:00] baer opened #87 "Bug: Registration always returns empty form on Submit"
The Empty handler always gets called on submit of a Registration form
https://github.com/stormpath/stormpath-express/blob/master/lib/register.js#L160-L164

[code]
stompath-express#2.0.1
node 0.12.7

[2015-09-04 17:55] rdegges commented on #71
Working on this now. Will update the issue as I make progress.

[2015-09-04 18:15] rdegges commented on #71
You can now do this via the Express application object!

Here's how it works:

[code]
Doing things this way ensures your web server ONLY starts after Stormpath is 100% initialized.

[2015-09-04 20:59] rdegges commented on #71
Currently updating the docs to show this in the examples =) This will ensure users don't run into this anymore.

[2015-09-04 20:59] rdegges commented on #71
Also throwing in some unit tests to assert this behavior.

[2015-09-04 21:15] mcmo commented on #87
Same here.  Registration form gets re-rendered on submit, whether the password is valid or not.  No error messages.  User account not created.
[code]
stompath-express 2.0.1
node 0.12.7

[2015-09-04 22:52] rdegges commented on #71
Closing this via https://github.com/stormpath/stormpath-express/pull/88

[2015-09-04 22:52] #71 closed

[2015-09-04 23:28] rdegges commented on #86
Working on this now.

[2015-09-06 06:49] baer commented on #86
Thanks @rdegges!

[2015-09-07 10:37] ppitonak commented on #87
the same problem with stormpath-express 2.0.2

[2015-09-08 17:31] rdegges commented on #86
Got stuck writing tests for this on Friday -- continuing where I left off now =)

My new strategy with issues here is to first:

- Write full integration tests to reproduce.
- Fix bugs.
- Pass all tests.
- Write / update all necessary docs.
- Submit PR to resolve.
- Cut release.

[2015-09-08 17:34] baer commented on #86
I :heart: that phrase: "Got stuck writing tests." Thanks for looking into this! If I understood more about express middleware I'd try to just PR it myself :/

[2015-09-08 17:40] rdegges commented on #86
Hah, well -- I've been trying to improve test coverage. My goal is to dramatically improve the quality of this library ASAP. So, having 100% coverage, ensuring all bugs are 100% squashed, etc. Takes a bit longer to fix stuff this way, but makes code wayy better ^^

[2015-09-08 17:41] rdegges commented on #86
All these repos will soon be at 0 open issues / PRs >:)

[2015-09-08 21:19] #86 closed

[2015-09-08 21:21] rdegges commented on #86
Ok, this is all fixed / good to go. There is still some work left to handle customizing the view, but I'm going to handle that as a separate github issue because it doesn't really make sense to include it in this. I'm cutting a new release with this fix included right now (2.0.3).

[2015-09-08 21:25] rdegges commented on #86
Release cut!

[2015-09-08 22:07] baer commented on #86
Awesome! As soon as registration works again (#87) I'mma pull this into my project!

:metal: :metal: :metal:

[2015-09-10 16:55] rdegges opened #90 "Add Config Validation"
Ensure that if no Application data is supplied in the config, we error out early with a useful error message.

[2015-09-16 18:40] rdegges commented on #90
Done!

[2015-09-16 18:40] #90 closed

[2015-09-16 18:40] rdegges commented on #87
Working on this now. Will get this fixed today.

[2015-09-16 18:54] rdegges commented on #87
Writing tests for this now -- our old tests clearly weren't catching this for some reason. Once I get all the testing reproducing things, I'll work on a fix. Will update status here as I make progress.

[2015-09-16 21:24] baer commented on #87
Cleary you're doing it right!

[2015-09-16 22:36] rdegges commented on #87
So, still writing tests (had some calls in between), but am improving test coverage to 100% as I'm going through this. Going to make sure there are 0% bugs in this registration stuff.

[2015-09-17 00:25] rdegges commented on #87
Ok, been writing a LOT of tests. Found some issues with this, and some other odd edge cases as well. Will take a bit longer than I initially thought to fix everything. Will keep updating this as progress is made. I'll likely have to wrap this up tomorrow.

[2015-09-17 04:55] baer commented on #87
👏🍻 thanks for all of your hard work!

On Thursday, September 17, 2015, Randall Degges <notifications@github.com>
wrote:

[2015-09-17 18:57] dhbchung opened #93 "OAuth Access token from /login fails for authentication"
After login from either the browser or an API call to /login, the OAuth access token doesn't work for authentication.

It looks like in version 2.0.4, in helpers.js, in getUser(), it tries to authenticate (line 379), but that fails. In the web version, it does get a user using the refresh_token cookie, but then the code in that block doesn’t expand the user account, so another part of my Node app

[2015-09-17 23:44] rdegges commented on #85
This is the desired behavior. When you call .getCustomData -- it returns the customData object (fresh) as a callback parameter -- it doesn't update the underlying object which made the call (it can't track those sorta memory references).

The way you should use it is to treat customData as it's own object, eg:

[code]

This is a fairly common pattern.

Sorry for the delay, just getting to this.

[2015-09-17 23:44] #85 closed

[2015-09-22 02:52] suryod opened #94 "Not all request are cached"
Hi,

I'm trying to perform this request in my express middleware:

// req.user is available through Stormpath's middleware.
req.user.getGroups({expand: 'customData'}, function (err, groups) {
});

The request url would be something like: https://api.stormpath.com/v1/accounts/{{accountId}}/groups. I'd expect the request will be cached like other request so I trying to verify it from Redis Desktop M

[2015-09-22 11:50] bassie1995 commented on #87
Has there been any progress on this?

[2015-09-22 20:23] rdegges commented on #87
This is almost done -- been taking a while due to other work constraints. Should ship this very soon =)

[2015-09-22 20:36] rdegges opened #95 "Stormpath Overlays"
We should have the ability to let users include Stormpath overlays for common bits of functionality: login, registration, password reset, etc.

[2015-09-22 20:42] rdegges commented on #63
Also: we'd like to emit an event when the CSRF token expires so a developer can respond to it.

[2015-09-22 20:47] rdegges commented on #63
So, in the latest release of our express stuff, we no longer validate CSRF tokens for login / registration pages as they aren't useful here.

I'm closing this out as this is no longer an issue in the library.

[2015-09-22 20:47] #63 closed

[2015-09-23 01:06] #87 closed

[2015-09-23 01:06] rdegges commented on #87
Just merged this in. Will cut a release first thing in the morning once I have a chance to update docs / etc.

[2015-09-23 01:08] baer opened #98 "Race condition causing server crash"
This is the 2nd time I've seen this error and it always goes away on refresh. I'm assuming it's a race condition but I have not dug into it yet. I did catch it when I was in dev mode with long stack traces turned on so this should help you find the issue.

[code]

[2015-09-23 01:36] baer commented on #87
:confetti_ball: That's a HUGE PR. Nice work.

[2015-09-23 05:06] rdegges commented on #87
Thanks, hah. Took a lot of hacking, but it is muchhh better now. And VERY well tested.

[2015-09-23 13:28] erbridge opened #99 "Error on start when using environment variables"
As described in the docs, I'm setting the following environment variables:

[code]

When starting, The following exception occurs:  `No client config found. This is a required configuration option.` Looking at the code, I can't see where those options are parsed, so are they a removed feature?

Running off 80315b2655500008c966d5d2c1cc679ca58a892b (while waiting for the fix for #87 to be released).

[2015-09-23 13:33] erbridge opened #100 "Auto login after registration doesn't work"
Using the following in the config:

[code]

Running off 80315b2 (while waiting for the fix for #87 to be released).

[2015-09-23 13:36] erbridge opened #101 "passwordConfirm is put in the customData after registration"
Running off 80315b2 (while waiting for the fix for #87 to be released).

[2015-09-23 13:39] erbridge commented on #100
Setting `autoAuthorize: true` fixes this issue.

[2015-09-23 13:42] erbridge commented on #100
This also prevents `postRegistrationHandler` from firing.

[2015-09-23 13:59] erbridge opened #102 "Unable to auto expand customData"
The config contains:

[code]

Running off 80315b2 (while waiting for the fix for #87 to be released).

[2015-09-23 15:46] baer commented on #99
Can you post your config too? It's not that well documented yet so it could just be an error in your code.

[2015-09-23 15:51] erbridge commented on #99
Config:

[code]

Note this isn't an issue on `2.0.4`

[2015-09-23 17:29] erbridge commented on #99
And the full stacktrace in case that helps:

[code]

[2015-09-23 17:33] bassie1995 commented on #102
I seem to be having this issue as well, my config contains expandCustomData: true.

Can't test right now, however, as NPM won't install express-stormpath...

[2015-09-23 17:40] robertjd commented on #99
I just merged a change that should fix this, released at 2.0.5

Can you git it a try?  Thanks :)

[2015-09-23 17:41] erbridge commented on #102
I've hooked up the `stormpathLogger` to my actual logger, and I'm now seeing `Failed to authenticate the request.` (https://github.com/stormpath/stormpath-express/blob/master/lib/helpers.js#L381) in the logs, which might explain why the data isn't being fetched.

[2015-09-23 17:44] erbridge commented on #99
Yup, that fixed it, thanks.

[2015-09-23 17:44] #99 closed

[2015-09-23 21:26] rdegges commented on #101
This is fixed in #87 =) Closing it out. Will be cutting the release today.

[2015-09-23 21:26] #101 closed

[2015-09-23 21:30] erbridge commented on #101
This was actually experienced while running off master after that PR was merged, so I'm not sure it is fixed.

[2015-09-23 21:41] rdegges commented on #101
Can you try running off the latest master?

[2015-09-23 21:50] rdegges commented on #94
Hi Indra,

So, after thinking about this -- this is actually the desired library behavior. We made a decision to only cache direct object hrefs -- not collections. This is because the collections change so frequently it would be very very difficult to invalidate them in memory effectively.

We're working on solving this at the core Node SDK level, but for now we won't be adding caching for collect

[2015-09-23 21:50] #94 closed

[2015-09-23 21:52] rdegges commented on #100
Going to close this out as this option has been renamed `autoAuthorize` in the 2.x releases. I've got a bug filed for the postregistrationhandler stuff already -- am working on that =)

[2015-09-23 21:52] #100 closed

[2015-09-23 21:53] rdegges commented on #67
In our new 2.x release, this is a lottt easier. We allow you to use whatever views you want, and will respect your existing rendering options. This is explained here: http://docs.stormpath.com/nodejs/express/latest/templates.html

Going to close this out as it is now included in 2.x.

[2015-09-23 21:53] #67 closed

[2015-09-23 21:58] erbridge commented on #101
Appears to be fixed on master.

[2015-09-23 22:08] erbridge commented on #100
My mistake. I'd misread the spec on this one. `postRegistrationHandler` works fine for me with `autoAuthorize: true`.

[2015-09-23 23:37] rdegges commented on #65
Closing this as we are just merging this in.

[2015-09-23 23:37] #65 closed

[2015-09-24 07:48] suryod commented on #94
Hi Randall,

Perhaps you can cache accounts/:id/groups as well since I believe it's not changed frequently. However, I appreciate your decision.

[2015-09-24 11:27] erbridge opened #106 "Login view config doesn't respect enabled"
I'm trying to implement my own login view and switching `web.login.enabled = false` doesn't disable the login endpoint.

[code]

[2015-09-24 11:42] erbridge opened #107 "Error on login screen"
![image](https://cloud.githubusercontent.com/assets/1027364/10072447/a49bee78-62b9-11e5-9af1-b9786c8a1f0f.png)

[2015-09-24 11:43] erbridge opened #108 "Social login box appears on login view even when no providers enabled"
The box appears empty:

![image](https://cloud.githubusercontent.com/assets/1027364/10072442/93dc0c80-62b9-11e5-8740-e68b463792aa.png)

(note: error logged in #107)

[2015-09-24 18:06] rdegges commented on #101
This has been released =)

[2015-09-24 18:06] rdegges commented on #87
This has been released!

[2015-09-24 21:13] agonbina commented on #99
In the docs it says that along the other env variables we need to also set ```STORMPATH_CLIENT_APPLICATION_HREF``` but the SDK won't read it. Instead its looking for ```STORMPATH_APPLICATION_HREF```. Just thought you should update the docs here: http://docs.stormpath.com/nodejs/express/latest/configuration.html to reflect this

[2015-09-25 14:36] erbridge commented on #102
Submitted a PR (#110) that fixes this for me.

[2015-09-25 23:44] robertjd opened #112 "Social Login, via JSON API, for SPA clients"
Right now the login controller looks for username and password, and then uses the OAuth authenticator to exchange those credentials for an access token.

We need to support social login from the Angular SDK, but our OAuth feature does not yet have a grant type for social providers (it does not have an authorization code grant flow).  Thus, for social login, we have to continue using a custom cooki

[2015-09-26 07:11] agonbina opened #113 "How to configure caching?"
There used to be a section about configuring a cache client(redis in my case) in the docs, not sure what happened to it? I tried all kinds of things, like configuring the ```node-stormpath``` client options, specifically
[code]
as suggested here: http://docs.stormpath.com/nodejs/api/client#redis, but this doesn't create any connection to my RedisLabs redis instance.

I also tried the old format(wh

[2015-09-27 18:48] agonbina opened #114 "postRegistrationHandler invoked only if register.autoAuthorize is set to true"
This isn't mentioned in the docs, but after looking at this piece of code here: https://github.com/stormpath/stormpath-express/blob/a844b24ca90acf2db052e36d8ef92706ac269e71/lib/controllers/register.js#L119 I noticed that postRegistrationHandler is invoked only when ```web.register.autoAuthorize``` is set to true.

I don't think we want to autoAuthorize the user in every situation, if by autoAuthor

[2015-09-28 17:52] robertjd commented on #64
This is resolved.  This library is now issuing access tokens, via the the /oauth endpoint of the configured Stormpath Application.

[2015-09-28 17:52] #64 closed

[2015-09-28 18:40] omgitstom commented on #23
This might be something we want to the SDK and have it supported in the integration

[2015-09-28 18:42] robertjd commented on #28
This was fixed a long time ago, the library is now directly passing errors that come from the Stormpath API.

[2015-09-28 18:42] #28 closed

[2015-09-28 18:45] robertjd commented on #33
Closing this issue, we may implement something like this as a plugin (aka another module) but don't intend to put this into the this library.

[2015-09-28 18:45] #33 closed

[2015-09-28 18:55] omgitstom commented on #52
This is a node issue.  It is logged here: https://github.com/stormpath/stormpath-sdk-node/issues/209

When it is fixed in node, this issue should be resolved.

[2015-09-28 18:55] #52 closed

[2015-09-28 18:56] robertjd commented on #53
Caching can be disabled through the Node SDK.  We now pass config options through this library down to the Node SDK.

[2015-09-28 18:56] #53 closed

[2015-09-28 18:57] robertjd commented on #113
This may be a bug with our new config passing strategy, we will investigate.

[2015-09-30 06:37] #102 closed

[2015-09-30 08:03] bassie1995 commented on #102
This is not fixed for me. 2.0.8 Still logs the customData href instead of the information.

[2015-09-30 17:11] rdegges opened #116 "Github Social Login"
We should support Github login.

[2015-10-04 00:20] dgisser opened #118 "Issue with Social Login Google"
When I try to login via google+, I get an "Uncaught TypeError: Cannot read property 'replace' of null".

In the function googleLogin() there is a line that says "var next = getQueryString('next').replace(/^\s+|\s+$/g, '');" Because this line only passes in one parameter to getQueryString, getQueryString always returns null and the .replace() function always runs on a null variable, which breaks th

[2015-10-05 00:09] rdegges commented on #118
Ok, merged this in. Also added you to the contributors page: https://github.com/stormpath/stormpath-express/commit/8b7eadb04507caf69e57d0b5cc46c97e5a8778f1

[2015-10-05 00:09] #118 closed

[2015-10-05 18:41] rdegges opened #120 "Social Login ?next Redirect"
For all of our social login providers, we should find a way to cleanly support `?next` querystring redirection once a user has been authenticated.

For instance, if I, an end user, visit a protected page, eg: `/admin`, I'll be immediately redirected to `/login?next=%2Fadmin`.

If I then log in with Google / Facebook / LinkedIn / etc., I should be redirected back to `/admin` once the social login p

[2015-10-05 18:44] robertjd commented on #54
Please re-open if this is still a problem with the new 2.x release

[2015-10-05 18:44] #54 closed

[2015-10-06 20:54] typerandom commented on #98
@baer Thank you for the stack trace! :beer:

This issue will most likely be resolved with PR #122. This PR will use our new way of loading configuration and will make it so that the integration will no longer be able to be initialized at a state to which you are referring.

Meanwhile, if you're able to share the configuration you're using (omitting any sensitive values) then that would be very val

[2015-10-06 21:08] typerandom commented on #106
@erbridge Thank you for reporting this issue.

The issue here is that `website: true` conflicts with the `web` configuration.

What `website: true` actually does it that it enables the `web` endpoints `register`, `login`, `logout` and `me`. What you can do meanwhile is remove `website: true` and add `register` and `me` to your list of enabled `web` endpoints.

I.e. so it would look like this:

[co

[2015-10-06 21:12] baer commented on #98
Sure thing! I know that v2 config is not yet very well documented so I may just be using a bad config value.

[code]

[2015-10-06 21:34] robertjd opened #123 "Expansions not available to `/me` route"
The `/me` route handler is returning the user object without expansions

[2015-10-07 00:35] typerandom commented on #98
Thank you.

The configuration looks correct. And since you're seeing an intermittent error, it points to the issue that we've fixed in the up and coming pull request.

[2015-10-07 16:18] erbridge opened #124 "Custom data isn't expanded in the postLoginHandler"
This is running off 186fcdd5ab693f2716abb49cb1698428c1754af0, so includes the expansion fix.

[2015-10-08 03:40] stevebread opened #126 "Unnecessary redirect to '/' on logout with angular-sdk"
A logout request via the angular-sdk is redirected to '/' which returns the entire index.html. This is unnecessary for an AJAX logout.

[2015-10-08 06:26] stevebread opened #127 "acesss and refresh tokens can be reused after logout"
I am using express-stormpath with the angular-sdk. On logout, express-stormpath clears the access and refesh tokens from the cookie. If the old token values are manually applied e.g. via the browser console, it is then possible to perform any request that requires authentication without needing to re-login.

[2015-10-08 15:56] stevebread commented on #127
Looked into JWT tokens and it seems this is how they work in the absence of an explicit revocation list

[2015-10-08 16:07] robertjd commented on #127
In theory yes, in practice: Stormpath does maintain that revocation list for you :)

This integration should be deleting the tokens on logout, I'm flagging this to go in a release as a fix.

For me information about Stormpath's token management features, please see:

http://docs.stormpath.com/guides/token-management/

[2015-10-08 18:39] robertjd opened #128 "Discuss: use of `stormpath` keyword"
Our examples say that you shoud import this module like this:

[code]

This is proving confusing, because our node docs also do the same thing:

[code]

Alas, it's unclear which API you're actually working with - the framework integration, or the SDK.

I believe that our examples should use this form:

[code]

[2015-10-08 20:20] pierredavidbelanger opened #129 "Cannot use my existing redis Client with stormpath.init"
When I try to reuse my own redis client instance like this:

[code]

I get an error like this:
[code]

Seems like a problem with the `deepExtend(this, options||{});` call in your `function Config(options)` ctor.

When I use the `connection: {}` syntax, it woks.

[2015-10-08 20:36] pierredavidbelanger opened #130 "Misleading infos into the "API Authentication: Basic Auth" section of the doc"
Here
https://docs.stormpath.com/nodejs/express/latest/authentication.html#api-authentication-basic-auth

Where it says:

It should be `Authorization` instead of `Authentication`, and `Basic` instead of `Bearer` (this is indeed what one will get using `curl`):

`Authorization: Basic <Base64UrlSafe(apiKeyId:apiKeySecret)>`

[2015-10-08 21:42] robertjd commented on #114
This is a bug, we should call the post registration handler even if the `autoAuthorize` option is false.  I'm working on this now.

[2015-10-08 21:44] pierredavidbelanger opened #131 "stormpath.apiAuthenticationRequired middleware should put the successfully authenticated apiKey into the express request object"
I guess I can (re)parse the `Authorization` header to get it, but I feel the `api-authentication-required.js` middleware should do it for me, by getting it from the `application.authenticateApiRequest`'s `authResult` callback parameter and placing it into the express `req` object, into an `apiKey` property for example.

This will be useful when an account has multiple apiKey and I want to collect

[2015-10-09 03:20] #114 closed

[2015-10-09 03:22] #124 closed

[2015-10-09 03:22] #123 closed

[2015-10-09 03:27] robertjd commented on #124
This should be fixed in the new 2.0.10 release.

[2015-10-09 03:27] robertjd commented on #114
This should be fixed in the new 2.0.10 release.

[2015-10-09 10:27] erbridge opened #134 "Race condition on startup"
This happens occasionally when loading the page soon after starting the server. Running `2.0.10` (was also in `2.0.9`).

[code]

[2015-10-09 10:34] pierredavidbelanger commented on #134
I do not know if it is the right way to fix the problem, but I get rid of this error after waiting for the `stormpath.ready` event before the `app.listen(...)`:

[code]

[2015-10-09 15:08] vuaru opened #135 "Auth via env broken?"
I've been trying to use this as specified in the readme, ie. storing the auth details in the environment like:
[code]
But I get:
[code]

However, when I (finally) noticed that the following way was supported as well, i tried it out (with the same auth details) and it worked instantly:
[code]

[2015-10-09 15:47] robertjd commented on #135
Can you confirm which version of this library you are using?  I'd also check the following before you run the server:

* Ensure that the variables were exported, using the `env` command to list your current environment variables
* Ensure that the API Key and Secret are still valid and haven't been disabled or deleted.  You can do this by logging into the Stormpath Admin Console and clicking "My Ap

[2015-10-09 15:55] vuaru commented on #135
[code]

I printed them out during debugging via console.log, and they were present. Also, I believe it throws a different error when they aren't.

The API key and secret are still valid:
- Listed on the site
- The other method mentioned above
- Via curl
- Via ```.stormpath/apiKey.properties``` using the base stormpath package.

[2015-10-09 16:01] robertjd commented on #135
Could you try deleting the `.stormpath/apiKey.properties` file?  I wonder if there is a conflict when that file and the environment variables exist.

[2015-10-09 16:08] vuaru commented on #135
No change.

[2015-10-09 16:40] ldhertert opened #136 "Google Provider does not create site session on login"
The facebook and linkedin providers create a site session cookie on login, but the google provider does not.  This results in a user getting a successful login callback from google, but not be logged in.

[2015-10-09 17:47] erbridge commented on #135
I am using the environment variables fine with `2.0.10`. I also have a local `apiKey.properties` file in the project root (which stopped working for me in an earlier `2.0.x`).

[2015-10-09 17:59] ldhertert opened #138 "Logout ignores idSite settings"
If you try to log out and have an idSiteSession cookie (which is also set by social providers, not just the idSite), then it will try to redirect you to the idSite regardless of whether or not you have it enabled in your config.

[2015-10-09 18:04] robertjd commented on #135
Thanks for the update.  I'm still trying to find a way to reproduce this problem.  Could you share your entire package tree as a gist?  I want to ensure that we don't have any rouge stormpath dependencies that are getting inadvertently required.

[2015-10-09 18:12] #136 closed

[2015-10-11 07:06] typerandom commented on #135
I think this has to do with the new way that configuration is being loaded. I'll look into this right away. According to the error an API key is being provided somewhere, but when used, authentication fails.

This is currently the order in which API keys are being loaded. Notice that as keys are being loaded, they overwrite any previously loaded keys.

1. Environment
2. ~/.stormpath/apiKeys.proper

[2015-10-11 11:04] erbridge commented on #135
it seems strange to me that the environment is the bottom of the heap. I would have expected it to override all the files (except 6).

[2015-10-11 18:40] robertjd commented on #135
I agree with @erbridge , I think that the environment variables should override everything except 6

[2015-10-12 09:45] typerandom commented on #134
Thanks for reporting it! I'm working on a fix for this.

[2015-10-12 09:52] typerandom commented on #128
+1 for being explicit with `expressStormpath`.

[2015-10-12 10:19] typerandom commented on #135
@erbridge @robertjd I agree with you both. That actually makes more sense. I think we need to put this down on spec so that all SDKs have the same behaviour. Looking at the C# SDK we're also doing loading of API keys there a bit differently.

https://github.com/stormpath/stormpath-sdk-csharp/blob/f6b72c2aa589f0505151dd8d2475cddeb3b6b9fd/Stormpath.SDK/Stormpath.SDK/Impl/Api/DefaultClientApiKeyBuild

[2015-10-12 17:54] rdegges commented on #128
I totally disagree. Users using this library will likely only have this be their 'stormpath' experience. Namespacing this differently doesn't make sense, IMO, as it makes your middleware codez look ugly.

[code]

The current stuff looks pretty elegant this way, imo.

[2015-10-14 12:10] typerandom commented on #134
This should be fixed in PR #122.

[2015-10-14 12:12] typerandom commented on #128
I agree with it looking better, but isn't also many using the SDK in the integrations? But if there is no (or little) chance that they're going to be working with the SDK then I'd agree that just `stormpath` is nicer.

[2015-10-14 13:41] robertjd commented on #128
Most people start with `express-stormpath`, then move on to needing more advanced features that require the underlying SDK.  Some people are happy to pull the constructed client out of the integration state (aka `req.app.get('stormpthClient')` and use that to get work done, but others end up installing the SDK as a top-level library.  It gets confusing when helping people debug.

I'm really resist

[2015-10-14 14:12] typerandom commented on #135
Just waiting for a new SDK version then we'll be able to close this.

[2015-10-14 16:37] rdegges commented on #128
If people are using express-stormpath, and want to access the underlying client, we should tell them how to do that in the docs.

They have two choices:

[code]

They should never ever import the stormpath library directly, as it'll create a duplicate client which causes 2x caching / all the issues we've had originally.

[2015-10-14 20:57] dhbchung commented on #93
This seems to work now, at least since 2.0.8, I think. I would still like to be able to refresh the token easily; I had to write code on our server side to support refresh.

[2015-10-14 20:57] #93 closed

[2015-10-15 17:59] robertjd opened #152 "CORS support"
For those using front-end frameworks, it is common for the the front-end application to be served from a different domain or port from the data API.  This means that this library will need to serve the appropriate headers if a cross-domain client is consuming the endpoints that are handled by this library.

This is how I implemented CORS support in our old Express SDK library:

https://github.com/

[2015-10-16 07:35] suryod opened #155 "Delete cookies doesn't accept parameters"
Hi,

When creating accessToken cookie (lib/helpers/create-session.js), it supplies the `accessTokenCookie` parameters. But when deleting accessToken cookie (lib/middleware/delete-cookies.js) it doesn't supplies the parameters. Can you make it so it'll accept the parameters as well. I'm having problem when `accessTokenCookie` is set, users can login but unable to logout because the cookie's domain

[2015-10-16 12:01] typerandom commented on #106
There's now a PR in our config module that contains a fix for this issue. Once we have merged that in and have updated the integration to use that version, this issue will be resolved.

[2015-10-16 23:08] robertjd opened #156 "Stale account data after `req.user.save()`"
To reproduce, create a post-registration handler.  Also enable the `autoLogin: true ` option (and ensure that your directory has email verification turned off).  In that handler, modify the account's custom data like so:

[code]

On the next request to the server, notice that the custom data `thing` value is not present on the `req.user.customData` object

However if you save the custom data objec

[2015-10-17 03:24] #138 closed

[2015-10-19 22:58] robertjd opened #162 "Implement password grant & refresh grant flow for oauth endpoint"
This library needs to support `grant_type=password` on the `/oauth/token` endpoint.  The implementation of this handler will look very similar to this:

https://github.com/stormpath/express-stormpath/blob/master/lib/controllers/login.js#L53-L56

But rather than settings cookies we need to respond with the OAuth-specificed response body, which is a JSON object that looks like this:

[code]

As such

[2015-10-21 18:31] robertjd opened #164 "autoLogin does not create session for change password flow"
This is not creating the password-based token session:

https://github.com/stormpath/express-stormpath/blob/master/lib/controllers/change-password.js#L71

[2015-10-23 02:14] wimolivier commented on #162
Thanks Robert, it will be great to have this working.

[2015-10-25 09:45] agonbina commented on #113
Hi @robertjd and @typerandom any update on this issue?

[2015-10-26 17:22] rdegges opened #166 "Typos"
http://docs.stormpath.com/nodejs/express/latest/templates.html

<img width="323" alt="screenshot 2015-10-26 10 21 58" src="https://cloud.githubusercontent.com/assets/90247/10736646/6b1aa9de-7bcb-11e5-8714-eccdebef1336.png">

We shouldn't make typos in the docs! Let's get everything on this page fixed <3

[2015-10-26 19:57] robertjd opened #167 "Re-implemente CSRF strategy"
Because we are storing authentication information in cookies, we need to implement a CSRF strategy for this module.  Any middleware function which is using cookies to authenticate the request should assert that the request is coming from the same domain as the cookie.

[2015-10-27 00:17] robertjd opened #168 "Expose configuration for local JWT validation"
We want to allow the developer to specify local validation of JWTs, avoiding the rountrip to the API.  At the moment our cookie-based authentication and password-based oauth tokens will always do a remote stormpath validation, causing the network overhead with that request.

This depends on the resolution of https://github.com/stormpath/stormpath-framework-spec/pull/12, as that is where we are dec

[2015-10-28 00:29] JrodManU commented on #166
I submitted a pull request to fix many typos.

[2015-10-28 00:30] rdegges commented on #166
Just merged it in, thanks soooo much <33

[2015-10-28 00:30] #166 closed

[2015-10-28 16:44] robertjd commented on #128
I agree that a creating two clients is problematic, if you're not aware of the caching issues.  I still feel dirty every time I call this export `stormpath`, but I do see how it makes things feel simpler.  Closing.

[2015-10-28 16:44] #128 closed

[2015-10-28 16:52] robertjd opened #173 "Discuss: loginRequired and apiAuthenticationRequired"
I feel like these middleware function's don't accurately describe what's going on under the hood.

I feel that `loginRequired` would be more appropriately named `cookieAuthenticationRequired`

And `apiAuthenticationRequired` should be broken out into `oauthAuthenticationRequired` and `basicAuthenticationRequired`

Further, I think we should create a parent middleware, `authenticate` which determin

[2015-10-28 17:39] rdegges commented on #173
- +1 for `stormpath.authenticationRequired` (to look at all forms of authentication and try whatevers)
- +1 for keeping `stormpath.authenticationRequired

[2015-10-30 14:02] timothyej commented on #173
This is really nice! :+1:

But regarding the names, how about something like this instead:

* `stormpath.middleware.auth.all`
* `stormpath.middleware.auth.api`
* `stormpath.middleware.auth.basic`
* `stormpath.middleware.auth.oauth`
* `stormpath.middleware.auth.cookie`

Maybe too long, but I don't like the `...AuthenticationRequired` on all middlewares, would prefer a namespace instead :)

[2015-10-30 16:15] rdegges commented on #173
Hm.. I'm torn. Cause I like namespacing in some cases too, but I never see people do it this way in Node, feels really java-esque :(

[2015-10-30 19:54] adamdiy opened #177 "email authentication wiping out customData created by postRegistrationHandler"
hello,

i have a simple web app using express-stormpath. when users register with no email verification, everything works as expected: postRegistrationHandler fires, and i initialize several variables in customData.

when people register with email verification, postRegistrationHandler fires and initializes their customData with desired values. however, when they verify their email, their customDa

[2015-10-30 20:34] adamdiy commented on #177
nm! think i had postRegHandler set up wrong and it wasn't always working correctly / sometimes exiting before initialization was complete

[2015-10-30 20:34] #177 closed

[2015-10-30 21:01] #112 closed

[2015-11-02 09:04] baer opened #180 "Bug: express-stormpath is incompatible with node streams (request.pipe and http-proxy)"
express-stormpath is crashing my application when I `POST` to a proxied route in express regardless of whether or not it is protected by`stormpath.loginRequired`. Removing the `app.use` in my express config fixes the problem.

I will keep looking into the issue and will continually update as I find things.

[code]

[code]

[code]
[code]

[2015-11-02 16:16] robbydooo commented on #113
I am having the same issue, have tried both the old and new ways of configuring and nothing is working.
Any update?

[2015-11-02 18:06] robertjd opened #181 "Configuration fails if appliction is not defined, but only one application exists"
We want to support this scenario: you have not defined an application href for configuration, but your tenant only has one application - mostly likely the default "My Application" that was created for you when you created your tenant.  In this scenario we should automatically use that application, if you have not explicitly defined a application by name or href.

However, if you have not explicitl

[2015-11-02 18:12] baer commented on #180
Updated to reflect new information - `POST`s do not work on any route regardless of whether it is guarded by express middleware or not. Simply including `app.use(...)` causes the crash. Stack and description are now up to date.

[2015-11-02 18:31] rdegges opened #182 "Fix UI Bug when no social providers are present"
![ui bug no social providers express-stormpath v2.1.0](https://photos-6.dropbox.com/t/2/AAAgbVOujgI4peTlkhFl2h0F37qsaBjImYY8TDRgn54a7A/12/11939123/png/32x32/3/1446573600/0/2/Screenshot%202015-11-02%2010.24.13.png/EKXf8AgY1IabAyABIAIoAg/hbW2WMDYcGvWRGXhCI-5Mfo0oNqv2nUHc6n9JI3HiOY?size_mode=2&size=1024x768)

[2015-11-02 18:37] rdegges opened #183 "Remove Fields by Default"
If you have the `website: true` option enabled, and nothing else, the registration page looks like this:

<img width="1280" alt="screenshot 2015-11-02 10 36 08" src="https://cloud.githubusercontent.com/assets/90247/10890590/9fbfaec8-814d-11e5-8eb8-41283820b0de.png">

As you can see, there are lots of fields there. Previously, we only showed the:

- first name
- last name
- email
- password

Fields

[2015-11-02 18:41] rdegges opened #184 "Login Not Working"
In the latest release, logging in via the default login route is NOT working. The page gets reloaded and sits still...

[2015-11-02 18:42] rdegges commented on #184
Here's a GIF showing what I mean: http://g.recordit.co/JpVMeH3aZW.gif

[2015-11-02 18:42] baer commented on #180
Update: This is most likely an incompatibility between [node-http-proxy](https://github.com/nodejitsu/node-http-proxy) and [express-stormpath](https://github.com/stormpath/express-stormpath). It's not yet clear what the problem is - bug report is now up to date.

[2015-11-02 21:33] baer commented on #134
can this be closed?

[2015-11-03 12:24] typerandom commented on #184
I'm unable to reproduce this. This is how it looks for me:

![stormpath-express 2.1.0 login](http://g.recordit.co/OptdHNPrwl.gif])

Do you see any client-side/request errors or things like that?

[2015-11-03 12:53] typerandom commented on #183
It seems like these extra fields were introduced in August in order to comply with the integration spec:
https://github.com/stormpath/stormpath-sdk-node/commit/b2eebf3f4bb31ab299a04bba1aab67d451fc03ef

I.e. since there is no filtering on the registration fields, it just meant that they were added to the view:
https://github.com/stormpath/express-stormpath/blob/master/lib/views/register.jade#L27

M

[2015-11-03 14:51] robbydooo commented on #113
Just an update on this, no caching is working at all in version 2.1.0. Every request is generating a request back to stormpath adding 800ms-900ms to each request locally, usually they are 4ms. If i disable my internet connection locally it shows me as logged out. renable the connection and I am logged in.

I have tried in memory, redis and memcache and they are all not working.

If I change the re

[2015-11-03 15:01] robertjd commented on #184
I cannot reproduce with our sample project, @rdegges can you try this: https://github.com/stormpath/express-stormpath-sample-project

[2015-11-03 15:05] robertjd commented on #183
We should make a PR on the framework spec repo, modifying the registration configuration to only enable the four fields that we want.

[2015-11-03 17:36] icd2k3 opened #187 ""Error: API key ID and secret is required" even though my process.env vars are set correctly"
Hey guys,

I'm having a bit of trouble getting this all set up. It looks like my process.env vars are set correctly, but whenever I try to init express-stormpath I get:

    error:  Error: API key ID and secret is required.
    at newError ([....]/node_modules/stormpath-config/lib/strategy/ValidateClientConfigStrategy.js:15:14)
    at ValidateClientConfigStrategy.process ([....]/node_modules/storm

[2015-11-03 17:59] #187 closed

[2015-11-03 18:02] icd2k3 commented on #187
Ok I figured this out - hopefully this will help anyone experiencing a similar issue when trying to get express-stormpath running locally:

I use [gulp-live-server](https://github.com/gimm/gulp-live-server) as my local dev server. With this plugin you have to pass node env variables explicitly as options like so:

    var server = gls('app.js', {
        env: {
            STORMPATH_CLIENT_APIKEY_

[2015-11-03 21:44] robertjd commented on #180
Thank you for this information.  The express-stormpath library does place it's `getUser` middleware in front of all requests.  The `getUser` middleware attempts to resolve the current user context and populate `req.user`, but does not return authentication errors if this is not possible.  Instead it just continues down the middleware chain.

Clearly something is causing an unhanded exception, but

[2015-11-03 22:47] baer commented on #180
Humm, I can't share the project as it is but maybe I can try to reduce it to something I can share. One clue that I can give that I didn't post initially is that the exception happens after nearly 2m. Also, the express logger middleware doesn't log until the exception happens so the app is hanging for the full time.

<img width="482" alt="screen shot 2015-11-03 at 2 42 57 pm" src="https://cloud.gi

[2015-11-03 23:52] icd2k3 opened #188 "Problem with SPA & /login"
Hey guys,

I have a single page React application. I'm able to call /register via AJAX and create accounts without issue, but when I try to use /login the response is a 302 redirect to '/' and I get no response data for the /login call.

My config looks like:

    app.use(stormpath.init(app, {
        app: true,
        web: {
            spaRoot: path.join(__dirname, 'src', 'index.html'),

[2015-11-03 23:56] robertjd commented on #188
Can you look at the value of the `Accept` header that your React application is sending in it's requests?  It should be `application/json` if you want to use the JSON responses from this library.  Otherwise you'll be getting the HTML responses and redirects.

Thanks!

[2015-11-03 23:58] icd2k3 commented on #188
hey @robertjd thanks for the quick response! yep I'm setting those headers:

    xmlHttp.setRequestHeader('Content-type', 'application/json;charset=UTF-8');
    xmlHttp.setRequestHeader('Accept', 'application/json');

When I call /register they show up correctly too:

Request Headers:
    Accept:application/json
    Content-type:application/json;charset=UTF-8

[2015-11-04 01:23] icd2k3 commented on #188
Update:

I was able to modify my code to just use the generic node api client (see below) - but it looks like default `/login` functionality for express-stormpath is still an issue. Here is my modified code that works:

    app.use(stormpath.init(app, {
        app: true,
        web: {
            spaRoot: path.join(__dirname, 'src', 'index.html'),
            login: {
                enabled : f

[2015-11-04 10:49] typerandom commented on #181
One question, is the Stormpath application really named 'Stormpath Administrators' and not just 'Stormpath'?

[2015-11-04 17:14] lhazlewood commented on #181
The application is named Stormpath.  The directory it is mapped to is Stormpath Administrators.

[2015-11-04 17:25] tonilousteau opened #190 "register.fieldOrder in Stormpath Config not setting fieldOrder correctly in 2.1.0"
The fieldOrder array that I set overwrites the stormpathConfig field order array in the manner shown below.

myFieldOrder = ["email", "password", "passwordConfirm"]
fieldOrderOverwrite = [ 'email', 'password', 'passwordConfirm','surname', 'email', 'password', 'passwordConfirm' ]

It seems that it is swapping out the indices 0,1, and 2 with the fieldOrder that I have attempted to set instead of rep

[2015-11-04 18:11] typerandom commented on #181
@lhazlewood Thanks!

[2015-11-04 18:21] cdaniel commented on #190
My workaround for this issue is:
```fieldOrder: [ "email", "password", "passwordConfirm", null, null, null, null]```
but this is not documented.

[2015-11-04 18:30] tonilousteau commented on #190
Thanks!

[2015-11-04 18:37] robertjd commented on #173
I don't think the namespace is required at this time.  [P.S @timothyej :)](https://github.com/stormpath/stormpath-sdk-node/pull/261#discussion-diff-43144939)

I'm on board with the list by @rdegges - but with the small change that `oauthAuthenticationRequired` should be `oauth2AuthenticationRequired` (I inadvertently omitted the 2 in my original comment)

[2015-11-05 00:49] rdegges commented on #173
+1 for that

[2015-11-05 14:10] typerandom commented on #126
Closing since this is already supported in the the library. See:
https://github.com/stormpath/express-stormpath/blob/master/lib/controllers/logout.js#L21

I.e. this is a bug that is in the Stormpath Angular integration and that has been fixed in this PR:
https://github.com/stormpath/stormpath-sdk-angularjs/pull/48/files#diff-47b4b61d2e1468e55e538bcad7da0d1eR134

Unfortunately not merged in yet. Bu

[2015-11-05 14:10] #126 closed

[2015-11-05 14:20] typerandom commented on #126
Created a new issue so that we can track this in the Angular SDK.

https://github.com/stormpath/stormpath-sdk-angularjs/issues/69

[2015-11-05 14:53] #131 closed

[2015-11-06 01:29] robertjd opened #194 "Body-parser conflicts if configured outside this library"
The login handler accepts JSON and form-encoded posts.  We use the body-parser module to parse these.  When a social login is performed the posted object has nested properties:

[code]

To read these types of bodies, we use the `extended: true` option of the body-parser library.

However, if the developer has configured the body-parser library outside of our library like this (meaning that this mi

[2015-11-06 22:29] #162 closed

[2015-11-06 23:05] robertjd commented on #106
This should be fixed in 2.1.0, please re-open if that is not the case.

[2015-11-06 23:05] #106 closed

[2015-11-07 02:16] robertjd commented on #162
Hello @wimolivier , this is now in release 2.2.0 :)

[2015-11-09 18:02] #134 closed

[2015-11-09 18:03] robertjd commented on #134
Hi @baer , this should be resolved now.  Please let us know if something is amiss.

[2015-11-10 02:40] robbydooo commented on #113
Another update, if I authenticate with an API key via basic authentication the caching works. However if I authenticate a user using the web forms the caching does not work.

[2015-11-10 12:14] wimolivier commented on #162
Thanks a mil!

[2015-11-10 23:41] baer commented on #180
@robertjd I found the bug! What I found was that express is inserting `body-parser` into the middleware stack [here](https://github.com/stormpath/express-stormpath/blob/master/lib/stormpath.js#L75). When `request` or `http-proxy` which uses express pipes the data out of request, the stream has already finished but for some reason is not closed/completed (bug in `body parser`?) which causes `reques

[2015-11-11 01:34] baer commented on #180
Looks like this is not the only issue caused by the `body-parser`.

https://github.com/stormpath/express-stormpath/issues/194

[2015-11-11 01:52] baer commented on #194
I've been looking through the code and it looks like you only use `body-parser` in your controllers and don't actually need to register it for the external app! Since you have full access to these I believe you can use [body](https://www.npmjs.com/package/body) or [raw-body](https://www.npmjs.com/package/raw-body) (both recommended by the folks who maintain body-parser). If you did that, you could

[2015-11-11 01:58] robertjd commented on #113
Thank you for updating this thread with the reproduction information.  We will need to look into this.  Regarding this issue:

That problem will be addressed by #168

[2015-11-12 21:50] guzmo opened #199 "React Isomorphic - /me not unauthorized on server side."
Hey,

Im building an isomorphic React app.
The problem is rendering on server side ( which means I will call /me to get the user and see if he/she is authorized ) I always get unauthorized. The access_token is passed to the server on user request but when the server tries to call /me it wont work. The access_token isnt there anymore.

I'm using fetch to do the ajax requests and I do use:

headers:

[2015-11-13 00:25] #182 closed

[2015-11-13 00:43] robertjd commented on #130
Thanks @pierredavidbelanger !

This was resolved in 2.2.0, which had a major re-write of the authentication section of the documentation.

[2015-11-13 00:43] #130 closed

[2015-11-13 01:53] #127 closed

[2015-11-13 01:54] robertjd commented on #184
bump @rdegges - are you still able to reproduce this problem?

[2015-11-13 03:09] robertjd commented on #199
Hi @guzmo , thank you for the information.  Could you tell us more information about the React libraries you are using?  We're just now starting to look into React.  Here are a few things you can try, that I know have worked for others:

In the React code:
[code]

In our express-stormpath configuration:

[code]

I hope this helps!  Please let us know if not.  Ping @typerandom as he is looking at R

[2015-11-13 09:44] guzmo commented on #199
Thanks for the quick response.

I'm using the project template from https://github.com/DominicTobias/universal-react.

It uses a static method call to requestState() in the Component to load the data at startup, and on the client side it checks whether the data already is there, use it, otherwise load the data.

For ex:
[code]

My call to /me in the UserStore.checkLogin():
[code]

Some of the curr

[2015-11-13 16:10] robertjd commented on #187
Thanks for the follow up!

[2015-11-13 16:29] robertjd commented on #188
Hi @icd2k3 , thank you for the follow up.  It looks like you wanted to modify our login response to return the user object or error (instead of redirecting to the nextUri) because it wasn't doing that by default.  Is that correct?    Just checking so that I know where I should start investigating again.

[2015-11-13 16:32] robertjd commented on #177
Hi @adamdiy, thanks for the follow up!  Do you remember what the problem was?

[2015-11-13 16:48] icd2k3 commented on #188
Hey @robertjd, thanks for the reply. Yep that is correct. In my SPA `/register` returns a json object as expected, but `/login` looks like it attempts a redirect (even with json headers).

[2015-11-13 22:03] #181 closed

[2015-11-13 22:30] robertjd commented on #98
Now that #122 is released, the way around this problem is to use the ready event and defer the binding of your server:

[code]

[2015-11-13 22:30] #98 closed

[2015-11-13 22:37] baer commented on #98
Oh great! But, where does that `ready` event come from? It's not in the Express documentation anywhere.

http://expressjs.com/4x/api.html#app.onmount

[2015-11-14 11:39] ppitonak opened #202 "req.stormpathSession not defined in 2.2.0"
In Stormpath 1.x, req.stormpathSession was defined but it's undefined in 2.x. It is either a bug or it should be documented properly.

[2015-11-14 18:05] brentlemons commented on #168
Any luck on this issue?

[2015-11-16 19:31] rdegges opened #204 "loginRequired should respect config settings"
Let's say you've got this library middleware initialized with the `website: false` option set (default). This means that we have no `/login`, `/logout`, and `/register` routes hooked up.

Currently, if you're using the `stormpath.loginRequired` middleware, and you DON'T have any Stormpath routes enabled, you'll still get redirected to `/login?next=...` by the `loginRequired` middleware. This shoul

[2015-11-16 19:34] rdegges commented on #184
This is now working -- I'm able to get it going. I wonder if maybe some odd network stuff was going on :(

[2015-11-16 19:34] #184 closed

[2015-11-17 00:58] rdegges opened #205 "register.autoAuthorize not Respected"
I'm trying to enable the autoAuthorize functionality, so that after a user has registered a new account, they'll be automatically logged in.

This should be enabled when the config is set such that:

[code]

But this is not working. Once I create an account, I'm still greeted by the following page (bad):

<img width="1274" alt="screenshot 2015-11-16 16 56 14" src="https://cloud.githubusercontent.c

[2015-11-20 00:46] #183 closed

[2015-11-30 17:48] robertjd opened #212 ""TypeError: undefined is not a function" if no default account store"
If you are seeing this error:

[code]

then please ensure that you have a default account store that is mapped to the stormpath application that you are specifying in your configuration.

For more information, please see this related issue:

https://github.com/stormpath/stormpath-node-config/issues/11

[2015-11-30 18:48] cleechtech commented on #212
how do I set a default account store that is mapped to my stormpath application? I am trying to follow the [node tutorial](https://stormpath.com/blog/angular-node-15-minutes/) and this error is blocking

[2015-11-30 18:52] cleechtech commented on #212
Ok had to do this voodoo:

![screen shot 2015-11-30 at 10 48 59 am](https://cloud.githubusercontent.com/assets/3578908/11481135/5a7c35de-9750-11e5-8b0a-4a9f1f71c660.png)

Not really sure what this does. An explanation would be clutch. Got it to work!

[2015-11-30 19:11] rdegges commented on #212
The short answer is that in Stormpath, Applications are decoupled from Account Stores (places where Accounts are stored). This lets you be really flexible with how things work.

For instance, you can create one Directory for each customer you have, and store all of each customer's user Accounts inside of each unique Directory. Then, in order to allow these 'customers' to access your Application (w

[2015-11-30 19:39] cleechtech commented on #212
Ok cool thank you!

[2015-11-30 19:45] cleechtech opened #214 "Cannot navigate to profile view"
I have an angular app with the run and config defined:

[code]
The ProfileCtrl is empty:

[code]

Then I navigate to the profile view after login using

[code]

This redirects me to `http://localhost:3000/profile#/` but the profile template does not show up (instead my 'main' template stays showed). I am using node.js for the server side. Why is the profile view not rendering? I can provide the se

[2015-11-30 19:46] cleechtech commented on #214
Whoops, this was meant to be posted to the angular.js repo. Did that [here](https://github.com/stormpath/stormpath-sdk-angularjs/issues/86)

[2015-11-30 19:49] cleechtech commented on #214
Okay the error renders itself server side:

[code]

[2015-11-30 23:18] robertjd commented on #113
@agonbina This is a bug in our config parser, I'm now tracking here: https://github.com/stormpath/stormpath-node-config/issues/12

[2015-11-30 23:19] robertjd commented on #129
This is a bug in our config parser, I'm now tracking here:

https://github.com/stormpath/stormpath-node-config/issues/12

[2015-12-02 01:14] xtu opened #217 "authenticateAccount fails to login a user"
I use ```app.createAccount``` to create an account and then use ```app.authenticateAccount``` to try to login the user. An error returns as follows:

ResourceError: HTTP 400, Stormpath 7104 (http://docs.stormpath.com/errors/7104): Login attempt failed because there is no Account in the Application's associated Account Stores with the specified username or email.

[2015-12-02 01:19] robertjd commented on #217
Could you show me the code that you are using for this operations?  I would like to ensure that the parameters to `authenticateAccount` are correct, and that `app` is a proper reference.  Thanks!

[2015-12-02 01:27] rdegges opened #218 "postLogoutHandler"
It'd be nice to have a postLogoutHandler. I've been building a TFA application that could definitely use one. Right now my solution is to build my own logout route, but that's sorta lame.

[2015-12-02 10:58] xtu commented on #217
I am using express-stormpath 2.0.0. Here is the code I've used:
[code]

[2015-12-07 16:44] omgitstom commented on #214
@cleechtech Is this an issue on the php sdk?

[2015-12-08 00:34] robertjd commented on #205
The property is `register.autoLogin`, we had some incorrect documentation at one point in the past.  This is fixed now.

[2015-12-08 00:34] #205 closed

[2015-12-08 00:36] robertjd commented on #168
This is now available in the 2.3.1 release.  Please use this configuration to enable local validation:

[code]

More information can be found here: [Token Validation Strategy](http://docs.stormpath.com/nodejs/express/latest/authentication.html#token-validation-strategy)

[2015-12-08 00:36] #168 closed

[2015-12-08 00:54] rdegges opened #224 "Fix Client Credentials"
Right now, you can't specify the grant type in the querystring params for the POST to /oauth/token, eg:

[code]

The above should work. Right now this only works if you put the grant type in the body, eg:

[code]

[2015-12-08 00:55] rdegges commented on #224
We should also get some tests for this when we patch to assert we don't break this in the future -- this was previously working.

[2015-12-08 01:10] robertjd commented on #224
The OAuth2 spec requires this in the request body, we will not support this is a query parameter.

The method `application.authenticateApiRequest` in the Node SDK *does* look for this as a query parameter, but that is wrong and needs to be removed.

[2015-12-08 01:10] #224 closed

[2015-12-08 02:15] robertjd commented on #214
Hi there, my apologies for the long delay on this reply!

It looks like Stormpath may not be initialized at the time that Angular is trying to make a request to your Express server.  Can you confirm that your Express application is waiting for the `stormpath.ready` event, before starting?

We have this example application, which is a good reference:

https://github.com/stormpath/express-stormpath-

[2015-12-08 02:21] robertjd commented on #217
Thanks for the code!  The `authenticateAccount` method expects the parameter `username`, so you'll need to change that to look like this:

[code]

It's still okay to pass the email as the username, the Stormpath API will accept both for the username field.

Please note that the 2.x series of this module uses a cookie-based token strategy for authentication (if you are using our default `/login` ro

[2015-12-08 08:10] cleechtech commented on #214
Oh thank you! I didn't have the stormpath.ready event

[2015-12-08 08:10] #214 closed

[2015-12-10 22:54] xtu commented on #217
Hi Robert, after change the parameter name to ```username```, I am still not able to log in automatically. Is it because the cookies are not created? I am not intending to implement a different session mechanism. I just want to automatically log in after registration.

[2015-12-11 02:26] stevebread opened #228 "Access and refresh token cookies are not secure when using https"
create-session.js checks if the request is https to decide whether to make the cookie secure only if
`refreshTokenCookieConfig.https !== null`. However, the property in config.yml is named `secure` and not `https` so this condition returns true since `https` is undefined and the request protocol is not checked.

[2015-12-11 17:27] robertjd commented on #217
Correct, the cookies won't be created unless you do that manually.  If you want to log the user in after registration, you can use the auto-login option of the registration configuration.  That looks like this:

[code]

The auto-login documentation is here: http://docs.stormpath.com/nodejs/express/latest/registration.html#auto-login

[2015-12-11 18:20] rdegges opened #230 "Server Crash when Disabling Refresh Tokens"
If I create a Stormpath Application, and disable refresh tokens in the dashboard, eg:

<img width="1057" alt="screenshot 2015-12-11 10 18 32" src="https://cloud.githubusercontent.com/assets/90247/11751804/ac7aa1e2-9ff0-11e5-8786-4a0759281cd8.png">

Then when I go to register a user using the default registration page stuff, my server crashes:

[code]

We should fix this so that we aren't assuming

[2015-12-11 19:50] robertjd commented on #228
Thanks @stevebread for reporting this!  We just fixed this in a new release, 2.3.3 - and I've added you to the [contributors doc](https://github.com/stormpath/express-stormpath/blob/master/docs/contributors.rst).  Have a great weekend!

[2015-12-11 19:50] #228 closed

[2015-12-12 02:33] stevebread opened #233 "Server fails to start after update from 2.3.0 to 2.3.3"
Startup fails with the error

[code]

I noticed that `ValidateClientConfigStrategy.prototype.process` is called twice. The first time apiKey has the given id and secret, the second time apiKey is null causing the error.

[2015-12-13 06:55] stevebread commented on #228
Thanks for the fix and the mention Robert!

[2015-12-13 23:29] xtu commented on #217
I have tried to enable ```autoLogin```, still does not work. After registration, it navigates to the login page automatically. I used ```stormpathPath.loginRequired``` to protect my pages.

[2015-12-14 17:46] robertjd commented on #129
Hello Pierre, this should be fixed in the 2.3.3 release of this library.  Can you please upgrade and let us know if the issue is resolved for your application?  Thanks!

[2015-12-14 17:47] robertjd commented on #108
This was fixed in version 2.3.0

[2015-12-14 17:47] #108 closed

[2015-12-14 17:48] robertjd commented on #107
This was fixed in version 2.3.0

[2015-12-14 17:48] #107 closed

[2015-12-14 17:49] robertjd commented on #84
This was fixed in version 2.3.1

[2015-12-14 17:49] #84 closed

[2015-12-14 17:53] robertjd commented on #233
Hi Steve, thank you for the report.  Can you tell me how you're attempting to provide the API Key ID and Secret?  Is it through environment variables, or through a file (and if a file, where is is located?)

Thanks!

[2015-12-14 17:58] robertjd commented on #230
I can confirm this, it happens when `stormpath.web.register.autoLogin` is `true` and the `refreshTokenTtl` of the OAuth policy is 0 (the provided screenshot shows 1).

[2015-12-14 18:00] robertjd commented on #217
Hi Xtu, at this point it would be helpful if I could see your code and how our middleware is connected.  If you can share here (or on a gist) that would be great, otherwise please contact us via support@stormpath.com and we can share code privately.  Thanks!

[2015-12-14 18:51] stevebread commented on #233
Hey Robert,

The app was built based on the angular guide. In *app.js*
[code]

The `init` method of the stormpath module referenced above:
[code]

The `config` module referenced above defined in *config\environment\development.js*
[code]

Environment variable definitions referenced above defined in *local.env.js*
[code]

[2015-12-14 23:24] xtu commented on #217
I have read the source code included in my ```node-modules``` folder for ```stormpath```. I can see that following function does not use ```autoLogin``` option at all. Does this help on investigate the problem. I   am currently working on a separate feature and not able to share the code.

[code]

[2015-12-15 00:20] robertjd commented on #217
Hi Xtu, that is the code for the underlying Node SDK.  It does not handle the auto-login feature.  The auto login feature is handled here, in this library:  https://github.com/stormpath/express-stormpath/blob/master/lib/controllers/register.js#L130

Can you confirm that the email verification feature is disabled on the Stormpath Directory that you are using with this application?  If email verific

[2015-12-15 14:13] pierredavidbelanger commented on #129
Bumping express-stormpath to 2.3.3, indeed it works.
Thank you!

[2015-12-15 15:07] ppitonak commented on #202
Still present in 2.3.3

[2015-12-15 16:05] xtu commented on #217
Hi @robertjd , I am using my own register view and logics to register a user, so I have not been using that ```register.js```. Could you tell me how to create that cookie session manually if it is mandatory to log in a user?

I can confirm that the email verification is disabled.

[2015-12-15 17:57] robertjd commented on #217
To create the cookies manually, you will need to invoke the `createSession` method, as you can see here:

https://github.com/stormpath/express-stormpath/blob/fe95e0cb83d75643e6521aeddd4795167c18798e/lib/controllers/register.js#L135

You can require that function like this:

[code]

It needs to be called with a password grant authentication result, because that result contains the Oauth2 tokens tha

[2015-12-15 18:59] robertjd commented on #129
Awesome!

[2015-12-15 18:59] #129 closed

[2015-12-16 00:43] robertjd commented on #202
Hello Pavol!  Thank you for pointing this out.  The property `req.stormpathSession` has been removed, if you were using this property to store stateful session information you will need to add a session middleware to your library, such as [express-session](https://github.com/expressjs/session), and use that module instead.

I'm amending the upgrade log to discuss this, please see #236

Thanks agai

[2015-12-16 00:43] #202 closed

[2015-12-16 10:05] xtu commented on #217
Can I get that password grant authentication result from any of post-registration handler parameters?

Pre-registration handler looks quite useful to me. I think users may have their own business logics before registration in most cases.

[2015-12-16 15:24] omgitstom opened #237 "Github Support"
We should add Github OAuth provider support.

[2015-12-17 02:12] robertjd opened #239 "Express version reporting is incorrect"
We're adding an express version to our user agent string, here:

https://github.com/stormpath/express-stormpath/blob/master/lib/stormpath.js#L26

However, that is going to require the version of express that is depended on by this library in package.json (not the version of express that the developer is using). The UA string is not telling us what version of express was used to create the app that

[2015-12-17 03:21] stevebread commented on #233
This seems to be related to the upgrade to `stormpath@0.15.1` and/or `stormpath-config@0.0.13`

The successful call to `ValidateClientConfigStrategy.prototype.process` results from the call to `expressStormpath.init` shown above.

The failed call results from this stack:
[code]
None of the strategies defined by ConfigLoader can locate the api key info.

[2015-12-17 14:27] Jonlee2001 opened #240 "expand customData has stopped working in 2.3.3"
Hi,
I've just upgraded from 2.2 to 2.3.3 and the settings for expand: { customData: true} have stopped working.
Any ideas if mine is an isolated case? Also I see that this issue has been raised for earlier versions (2.0.9) but is now marked in fixed - but there's nothing against version 2.3.3.

Any help gratefully received,

Jon

[2015-12-17 14:40] Jonlee2001 commented on #240
I've just done another test and it's not limited to customData - it appears that anything you put in the "expand" section of the app config gets ignored (groups, apiKeys, directory, etc.)

[2015-12-17 16:17] aledotgomez commented on #134
Hi, I have an app hosted on heroku that initially loads with the same error as above, but then is fixed after a refresh. Is there a way to add the stormpath.ready method on an app created through the express-generator? If I add the callback -
[code]
It gives me an error on Heroku deploy. Thank you.

[2015-12-17 17:07] robertjd commented on #134
Hi @aledotgomez , can you show us the error that you are getting?  I'd also like to know which generator you are using?  My guess is that something inside of the generated code is trying to call `app.listen()` for you, which interferes with the one that you are trying to add.  Thanks!

[2015-12-17 17:34] aledotgomez commented on #134
The generator I'm using is [express-generator](https://www.npmjs.com/package/express-generator).
I'm guessing that listening to the port from the Heroku environment is irrelevant, but I don't know what to start the stormpath method on.
The error trace from `heroku logs` is the following:
[code]
Thanks again for your help.

[2015-12-17 17:55] rdegges commented on #134
Heyo, the issue is not a Stormpath issue -- what's happening is that your application is not listening on the correct port. Heroku requires you to listen on a port that is randomly defined in the PORT environment variable.

For instance:

[code]

express-generator doesn't do this by default.

[2015-12-17 19:36] robertjd commented on #240
Hi Jon, could you show us how you are using `stormpath.int()` so that we can ensure the option format is correct?  For reference, please see our example project:

https://github.com/stormpath/express-stormpath-sample-project

It is configured to expand custom data, and I can confirm that this is true by visiting the `/me` route after I login.

Thanks!

[2015-12-17 20:13] ppitonak opened #241 "User's surname is unknown after registration in 2.3.3"
I enabled surname in registration form but it's not required:

[code]

When a new user registers and *enters* his surname, UNKNOWN is stored in his profile.

[2015-12-17 20:19] ppitonak opened #242 "Not clear error for not-verified users"
consider this scenario:

1. user registers using username/email and password
2. he ignores the email with verification link
3. after some time tries to log in

Login form shown 'Invalid username or password' error even though his username and password are correct but the email hasn't been verified yet.

[2015-12-17 20:25] ppitonak opened #243 "Upgrade guide missing some changes"
When upgrading from express-stormpath 1.x to 2.x, few additional paths have to be changed:

1. in password reset workflow, default path changed from **/forgot/change** to **/change**
2. for Google social login, default callback path changed from **/google** to **/callbacks/google**
3. email verification path changed from **/verified** to **/verify**

[2015-12-18 02:28] rdegges commented on #239
Agreed -- I didn't realize this was how it worked. I *thought* the way require worked is that it'd cache things as soon as it's loaded, in which case it is likely the user's code would be loaded first, and their version of express as well?

I just made a test app though, and you're 100% correct.

I say we move it to devDependencies, and get rid of it in the UA string. Sorta a bummer though. Wish w

[2015-12-18 12:58] Jonlee2001 commented on #240
Hi Robert,
Here's my init function:
[code]
I've checked against the sample project and it looks the same to me.
Jon

[2015-12-18 14:15] Jonlee2001 commented on #240
Eureka! I've just moved the "website: true" and "expand: {}" sections to the top of the init function and it works! However it's not clear in the documentation that the order of the sections is important - perhaps this should be updated.

[2015-12-18 21:09] robertjd commented on #240
Hmm that's pretty odd!  Where was it that you were seeing the account without the expanded data?  I just tried you init function in our sample app, and was no able to change the behaviour of the `/me` route by changing the order of the properties

[2015-12-18 21:12] robertjd commented on #233
Hey Steve, yes the problem is that the version of stormpath-config that is depended on by express-stormpath is out of date.  We have our next release coming in a few days, and we'll get this updated then.  Thanks for helping us investigate!

[2015-12-18 21:40] robertjd commented on #134
@rdegges the boilerplate from the generator does do that by default:

https://github.com/expressjs/generator/blob/b313f3ba2779b9935212d204c3066be83a3aeab9/templates/js/www#L15

@aledotgomez can you search your code to ensure that you don't have multiple calls to `app.listen` or `server.listen` ?  Thanks!

[2015-12-18 22:56] aledotgomez commented on #134
hey @robertjd there is no other  `app,listen` or `server.listen` calls in my code. I'm thinking of going into the express module and placing the following call:
[code]
where the app object is initialized. Any alternatives from changing the module directly?  Thanks. @rdegges  @robertjd

[2015-12-19 00:37] rdegges opened #247 "Issue access+refresh token after social login"
Right now, we have a blocker for our iOS contractor, and anyone implementing mobile SDKs.

Let's say you're attempting to build Facebook login support into iOS. The flow you'd want to take is as follows:

- Create a Stormpath Application with a mapped Facebook Directory.
- Create an express-stormpath sample app that has the login functionality enabled.
- Use the Facebook OAuth2 API to authenticate

[2015-12-21 16:10] typerandom commented on #156
Important to note: One also have to specify `expand: { customData: true }` in config in order to access the custom data through the `account.customData` property in the next request. Optionally, without expand one can also call `account.getCustomData()`.

[2015-12-21 19:11] robertjd commented on #233
Hi @stevebread , this should be fixed in the new 2.3.4 release.  Can you give it a try?  Thanks!

[2015-12-21 19:13] robertjd commented on #212
In the new 2.3.4 release, we have friendly error message for this this situation :)

[2015-12-21 19:13] #212 closed

[2015-12-21 19:18] cleechtech commented on #212
Awesome!

[2015-12-22 08:09] stevebread commented on #233
Works! Thanks @robertjd !

[2015-12-23 00:29] robertjd commented on #242
Yes, this is the current behavior and it's not great.  Until we can amend this to give you more control, I would suggest implementing a custom version of our login template and having it respond to actual error code from stormpath (which does indicate what is actually happening).  Please let user know if we can offer assistance with this.

[2015-12-23 19:29] robertjd opened #250 "Can't disable web features"
If I use the `website: true` option, but also try to disable a specific feature, the feature is not disabled.

To reproduce, run this code, and see that the final config object has the value of `true` (not `false`) for `web.register.enabled`:

[code]

@typerandom please prioritize this one.

[2015-12-23 21:36] robertjd opened #251 "Replace "idSiteSession" cookie with Oauth tokens"
We have new features in the Stormpath API that allow us to:

* Exchange an ID Site result (the jwt that is delivered to the callback url) for an access token + refresh token pair.  Simply use `grant_type=stormpath_token` and `token=<jwt>` on the application's oauth token endpoint, where `<jwt>` is the jwt result from ID Site.

* For social login, use `grant_type=stormpath_token` and  `token=<jwt>`

[2015-12-23 21:39] rdegges commented on #251
yesssss

[2015-12-23 23:32] typerandom commented on #250
@robertjd I'll start working on this.

[2015-12-24 13:26] markzero commented on #35
This functionality is removed now?

[2015-12-27 03:05] typerandom commented on #199
Hey,

@guzmo I'm closing since it's unrelated to the Express integration. If this problem still persists, then please open a new issue in our React SDK repository:

https://github.com/stormpath/stormpath-sdk-react

Cheers! :)

[2015-12-27 03:05] #199 closed

[2015-12-27 03:10] typerandom commented on #188
I'm closing this issue since it looks like it is resolved.

@icd2k3 We now have a [React SDK](https://github.com/stormpath/stormpath-sdk-react). So if you are interested, take a look at https://github.com/stormpath/stormpath-sdk-react and if you still experience the same issue there, then open a new issue there and let me know.

Cheers! :)

[2015-12-27 03:10] #188 closed

[2015-12-27 03:11] typerandom commented on #233
Closing since issue is resolved.

[2015-12-27 03:11] #233 closed

[2015-12-27 03:13] typerandom commented on #135
Closing issue since it should have been resolved around 15th of October.

[2015-12-27 03:13] #135 closed

[2015-12-27 03:14] typerandom commented on #116
Duplicate of #237.

[2015-12-27 03:14] #116 closed

[2015-12-27 03:15] typerandom commented on #113
Closing since issue should have been resolved around 20 days ago. Reopen if issue still persists.

[2015-12-27 03:15] #113 closed

[2015-12-27 03:17] typerandom commented on #240
Closing since this just seems like a configuration issue. Order in configuration doesn't play any significant role (i.e. it's just key lookups, not index).

[2015-12-27 03:17] #240 closed

[2015-12-27 23:53] typerandom commented on #239
I might have a solution. What if we just got the process path, then resolved the module from its node_modules folder? Then if that doesn't exist, resolve it from the global node_modules path?

I have made a PR that does this, so if you'd like to check that out, that would be awesome.

[2015-12-28 11:00] typerandom commented on #155
Hi Indra.

Thanks for reporting this. We'll be looking into this issue soon. I know that this was reported some time ago, but please, if this still is an issue and is hindering you in your work, please let us know.

Cheers!

[2015-12-28 11:12] typerandom commented on #173
+1

But what do you think about:

* `stormpath.requireAuthentication`
* `stormpath.requireApiAuthentication`
* `stormpath.requireBasicAuthentication`
* `stormpath.requireOAuth2Authentication`
* `stormpath.requireCookieAuthentication`

Personally for me this is easier to remember (and aligns more nicely) since they all start with `require`. Also feels more assertive, and doesn't it make more sense

[2015-12-28 11:16] typerandom commented on #180
I'm currently looking into this issue.

Thank you @baer for all the work/info you've put into this issue. :beers:

[2015-12-28 17:16] icd2k3 commented on #188
Thanks @typerandom I'll switch over to that, cheers!

[2015-12-29 08:06] #250 closed

[2015-12-29 08:08] #243 closed

[2015-12-29 08:17] #156 closed

[2015-12-30 00:24] robertjd opened #257 "confirmPassword field needs to be implemented"
This got lost in the upgrade, the developer should be able to enable the confirm password field with the `stormpath.web.register.fields.confirmPassword.enabled` option

[2015-12-30 00:28] robertjd commented on #35
Doh!  You're totally right, this got lost in the 2.x upgrade.  I've created #257 to track this.  I'll try to prio this, can you let me know if this is blocking you?  Thanks.

[2015-12-30 08:34] markzero commented on #35
I continued without password repeat, maybe won't need it after all, but would be nice to have it as it's very common.

[2015-12-30 20:16] ServCinc commented on #250
Thank you so much guys; I was the one who was having trouble with this! Hope you all had a great holiday!

[2015-12-31 00:12] robertjd commented on #250
Happy to help!  I hope your holiday was good as well.  Be sure to watch this repo, for the next release (which will include this closed fix).

[2016-01-07 20:49] rdegges opened #258 "Support Refresh Tokens for Client Credentials"

[2016-01-09 06:36] oekekezie opened #259 "preLoginHandler for logging"
Right now I'm using the postLoginHandler to log successful login attempts. It would be great to have a similarly easy way to add logic to log all login attempts regardless of whether they succeed i.e. a preLoginHandler.

[2016-01-10 17:05] timothyej commented on #259
Thanks for the feedback :)

How important is this feature to you? Would you be able to workaround it?

[2016-01-11 18:35] omgitstom opened #260 "Redirect next strategy"

[2016-01-12 18:00] oekekezie commented on #259
Very much a nice to have. Definitely able to work around it.

[2016-01-12 18:00] #259 closed

[2016-01-12 18:57] timothyej commented on #259
That's great! If there's anything else, just let me know :)

[2016-01-12 19:48] oekekezie opened #261 "stormpath.apiAuthenticationRequired not checking with Stormpath whether token was revoked?"
I'm using OAuth2 password grant type. To recreate the bug... (1) Generate a token. (2) Issue a DELETE request to the stormpath_access_token_href and get back a 204 response. (3) Issue a POST request to an endpoint on my server that's secured by stormpath.apiAuthenticationRequired including the previously revoked token. I'm still able to pass stormpath.apiAuthenticationRequired.

My understanding w

[2016-01-12 23:40] timothyej commented on #261
This is not the expected behavior. It should revalidate the token against Stormpath unless you've turned it off: <https://docs.stormpath.com/nodejs/express/latest/authentication.html?highlight=local#token-validation-strategy>

Could you verify your configuration to ensure that the `validationStrategy` is not set to `'local'`?

[2016-01-13 01:01] agonbina opened #264 "New body-parser helper resets the body, breaks middleware that expect streams"
Related to #256.

I'm using [rocky](https://github.com/h2non/rocky/) to proxy some of the routes of my express.js application, and using the `express-stormpath` library breaks the request body because the body-parser helper is "forcing" a default body of an empty object. The proxy expects the default body of an express request(a string or a buffer), so resetting the body to an empty object is brea

[2016-01-13 15:03] typerandom commented on #264
Thank you for reporting this issue. I just labeled this as a bug and I'm going to be looking into this shortly.

[2016-01-13 16:54] timothyej commented on #194
Seems like this problem still exist, using the body parser, my login request gets stuck in *pending*.

[2016-01-13 19:09] robertjd commented on #194
@timothyej can you elaborate on how you're seeing this problem?  If you could show or link to sample code that would be great.

[2016-01-13 19:13] robertjd commented on #264
I agree, our library should only modify `req.body` when we are parsing POST bodies for routes that our body binds to, such as `/register`, etc.

[2016-01-13 19:32] timothyej commented on #194
All I did was to add this line before adding the Stormpath middleware:

[code]

[2016-01-14 00:15] tsgautier commented on #134
@robertjd I've just gone through the tutorial listed here:

https://stormpath.com/blog/angular-node-15-minutes/

And received the same error.  Changing the express startup line to:

app.on('stormpath.ready', startServer);

As mentioned in the bug report fixes the issue.  The version of express-stormpath I am using express-stormpath 2.3.5.

[2016-01-14 05:35] oekekezie commented on #261
I'm not setting the validation strategy so it should be "stormpath" by default according to the documents and config.yml. That being said, it still does not work even when I specify "stormpath" as the validation strategy.

[code]

Any thoughts?

[2016-01-15 18:31] rdegges opened #267 "IDSite Automatic Configuration"
If you've got a configuration that looks like this:

[code]

And you attempt to visit `/login`, `/logout`, or `/register`, you'll get a 404. This is because as of right now, you need to **explicitly** enable register / login / logout in the `web` section in order for this to take place.

The desired behavior is actually the opposite: if IDSite is enabled, we want to *always* provide the IDsite rou

[2016-01-18 13:20] typerandom commented on #251
@robertjd Currently I've added a new grant type in the SDK to handle stormpath_token. But haven't been able to find how I should add this for social login. Could you explain this in more detail?

[2016-01-18 17:05] raoabishay commented on #259
I would love to see this feature as well. I'm trying to check if the user is already registered with us through other means[FB/Google] before logging them into the application. And if they are already logged in, the '/me' route could return the updated/merged data. This is possible only if we have something like a 'preLoginHandler'. Is it possible to implement this at all @timothyej ?

[2016-01-18 18:34] rdegges opened #270 "OAuth Policy TTLs Not Respected"
It appears that at some point we broken OAuth Policy TTL functionality.

Here's an example Express app that shows how to reproduce this. The way it works is simple: create a Stormpath Application, and set the access token and / or refresh token TTLs to a custom value.

When you log into the website (localhost:3000), you'll see the token debug information, as well as the TTL settings. They always e

[2016-01-18 19:02] areichman commented on #270
@rdegges You can recreate the issue using just the Stormpath Node SDK. The Express additions here are not required. It might make sense to track the issue there instead, but that's up to you.  Thanks for digging into it for me either way.

[code]

[2016-01-18 21:50] robertjd commented on #251
After a user has returned from a social provider, and after we resolve the account with `application.getAccount()`, you can create a JWT with these claims:

[code]

And then provide that for the `token` value in the `stormpath_token` grant type.   You can then pass that response to helpers/create-session.js.

[2016-01-18 22:00] typerandom commented on #251
Thanks!

For clarity, are you referring to `login-responder.js` where `createIdSiteSession()` is being called? I.e. should that be replaced with a `"createStormpathSession()"` instead?

[2016-01-18 22:06] robertjd commented on #251
Ah, yes!  It looks like some of this could be refactored as well.

[2016-01-19 01:09] robertjd commented on #270
@rdegges in your example, you are using the nJwt library to create JWTs correctly.  If you want to change the TTL of those JWTs, you have to use the interface of the nJwt library.  See [here](https://github.com/jwtk/njwt#expiration-claim).

If you want to create tokens with the context of the application's OAuth policy, you need to use the `OAuthPasswordGrantRequestAuthenticator` in the way that y

[2016-01-19 01:09] #270 closed

[2016-01-19 06:07] oekekezie commented on #261
I ended up just using the REST API to validate my tokens and to check for group membership.

[2016-01-19 21:05] rdegges opened #272 "Explicit Api Key Configuration No Longer Works"
It appears that explicit API key configuration no longer works...

First off, ensure you have no `~/.stormpath/apiKey.properties` file present, or a local `apiKey.properties` file.

Secondly, ensure you have no Stormpath environment variables set.

Next, run the following program:

[code]

[2016-01-19 22:08] rdegges opened #274 "Using BodyParser (URLencoded) Breaks Stormpath"
If you load the `bodyParser.urlencoded(...);` middleware BEFORE the Stormpath middleware, the library breaks on registration / login. When the form is submitted, the server hangs indefinitely.

[2016-01-19 22:09] timothyej commented on #274
Isn't this a duplicate of #194?

[2016-01-19 22:11] rdegges commented on #274
Oh, good catch. Somehow didn't see that :x

[2016-01-19 22:11] #274 closed

[2016-01-20 02:11] robertjd commented on #272
I can confirm this problem, with your example.  This does not appear to be a problem with the Node SDK, but rather with the client configuration strategy in `lib/client.js` in this module.  @typerandom is the best person to provide insight.

[2016-01-20 09:15] typerandom commented on #272
I can confirm this too. And looking into it. I think we need to have two things:

1) Ability to easier debug what happens when configuration is being loaded.
2) Tests for configuration in `express-stormpath`. I thought we had this, but it's obviously been overlooked.

[2016-01-20 17:37] rdegges commented on #272
We should have some full IT test cases in express-stormpath for verifying all of these use cases, I think. It might be a pain to write initially, but should be really helpful in preventing regressions.

[2016-01-21 02:46] typerandom opened #275 "Server crashes on request with invalid refresh_token cookie"
When a server handles a request with an invalid `refresh_token` cookie it crashes with a `Signature verification failed` error.

#### How to reproduce

1. Create an new Node.js server using [this gist](https://gist.github.com/typerandom/8e97e235aaeac1fae840).
2. Start the server.
3. Once `Server listening on http://localhost:3000/` is shown, navigate to [http://localhost:3000/](http://localhost:30

[2016-01-22 16:34] typerandom opened #278 "/logout doesn't invalidate the account cache"
When logging out using `/logout` the account cache isn't invalidated.

#### How to reproduce

1. Setup a new Node.js project using [this gist](https://gist.github.com/typerandom/7833f2cebbad57072310).
2. Create a new account (/register).
3. Login with the account (/login).
4. Set `customData.myValue` to `true` using the Stormpath Admin console.
5. Logout (/logout.)
6. Login (/login).

#### Actual

[2016-01-22 17:04] robertjd commented on #278
This *is* the expected behavior from the cache manager of the underlying client (it keeps the cache entry, until it expires).  We don't yet have a way to notify clients of an updated resource.  As such, invalidating the cache on logout would be a nice workaround for now.

[2016-01-22 18:51] #239 closed

[2016-01-24 08:21] lillereven opened #279 "Very slow"
Repeatable performance problem on my machine. Views loading with Express-Stormpath in the mix in 600ms+. If I comment out Express-Stormpath, things load in under 50ms, as I would expect from a JADE-driven site loading from localhost.

What could I be missing?

I tried adding cacheOptions for the in-memory store, to no avail.

My runtimes:
node 5.5.0
npm 3.3.12
express-stormpath 2.3.6

[2016-01-24 15:11] lillereven commented on #279
After moving my partial and asset routes out of the Stormpath routing scope, performance is OK. Could it be that express-stormpath is not using the in-memory caching instance?

[2016-01-26 05:55] javierbq commented on #275
+1

[2016-01-26 16:03] lillereven opened #283 "Any way to configure express-stormpath to use a different template location?"
Not an issue, but a question/feature request.

I like the pre-built templates, and and to edit/change/version control them. As things are right now, and I admit to not having inspected the code very deeply, those templates live within node_modules/express-stormpath/lib/views - not the best location to tool around in.

Is there a config option to point express-stormpath at a different folder within

[2016-01-26 17:19] rdegges opened #284 "Support Resending Verification Email"
We need to support this feature.

[2016-01-26 18:08] robertjd commented on #283
Hi Martin, we do allow you to specify the location of custom templates.  Pleas see the documentation here:

http://docs.stormpath.com/nodejs/express/latest/templates.html

[2016-01-26 18:08] #283 closed

[2016-01-26 18:26] robertjd opened #285 "Don't apply `getUser` middleware to passed app"
By default, we will attach the `getUser` middleware to all requests on the application or router instance that is passed into `stormpath.init()`, as seen here:

https://github.com/stormpath/express-stormpath/blob/master/lib/stormpath.js#L219

As such, we force all requests through our authentication layer and this adds network overhead when you're logged in.  If you accidentally apply our module t

[2016-01-26 18:29] robertjd commented on #279
Hi there, thanks for getting in touch!  Yes, `stormpath.init()` does apply our authentication layer to the Express application (or router) that is passed to it.  As such, you'll see an authentication ovehread on your public asset routes if you pass that appplication/router to `stormpath.init()`.  The solution is to use `stormpath.init()` after you have defined any public asset middleware.

I apolo

[2016-01-26 18:29] #279 closed

[2016-01-26 20:36] typerandom commented on #272
@rdegges I agree with that we should add tests in order to verify all of these cases.

I'm actually unable to replicate this issue at the moment. Are you still able to do that with the latest express-stormpath version?

@timothyej Could you try and see if you can replicate this issue?

[2016-01-26 21:16] typerandom opened #286 "Add configuration tests"
We need to add extensive configuration tests in order to avoid regression related to configuration.

Things that we need to test for:

* Loading of the default `config.yml` configuration.
* Ability to load configuration from `config.yml` or `config.json` files.
* Ability to load configuration from environment.
* Ability to load configuration provided to `init(...)`.
* Loading order. I.e. that conf

[2016-01-26 22:07] fotoKrille opened #287 "Node v5.5.0 - No compatible version found: cookie-parser"
Unable to install on Node v5.5.0

`error Error: No compatible version found: cookie-parser@'^1.3.5'`

[2016-01-26 23:56] fotoKrille commented on #287
Wrong NPM version...

[2016-01-26 23:56] #287 closed

[2016-01-27 01:44] lillereven commented on #285
+1 explicit middleware-only

As a programmer who has fallen into this trap recently, I support the vote for only using the explicit ExpressJS middlewares. After all, you are providing a very good set of middlewares to work with, such as loginRequired or groupRequired, and it is very easy to develop custom middlewares when needed for a project.

[2016-01-27 10:43] lanbau commented on #40
thanks @dorukeker i managed to solve my app's redirect loop error. My routes were above stormpath.init

[2016-01-27 16:54] typerandom commented on #285
I fully agree here on only applying middlewares explicitly.

[2016-01-27 19:23] edjiang opened #288 "Facebook login breaks if someone declines the `email` permission"
We need to fail gracefully on this since it's not guaranteed that we'd get an email. Facebook accounts can be tel: only, for instance.

See [Facebook's permissions documentation](https://developers.facebook.com/docs/facebook-login/permissions) for more info.

I initiate the FB login request, and decline the `email` permission:

![screen shot 2016-01-27 at 11 12 20 am](https://cloud.githubuserconte

[2016-01-28 16:17] typerandom opened #289 "POST request hangs if body-parser is configured"
If the `body-parser` module is configured with express as `app.use(bodyParser.urlencoded({ extended: true }));` then any POST requests handled by `express-stormpath` hangs.

#### How to reproduce

1. Create a new server using [this gist](https://gist.github.com/typerandom/b1178002a81751b82923).
2. Start the server.
3. Navigate to [/register](http://localhost:3000/register).
4. Sign up for a new ac

[2016-01-28 16:21] timothyej commented on #289
I've reported the same problem here (as a comment): #194

[2016-01-28 21:29] #264 closed

[2016-01-28 21:29] #289 closed

[2016-01-28 22:27] robertjd commented on #285
Thanks all for the input!  Let's make this change.  I've changed the title of this issue, I'm going to add it the 3.0 milestone.

[2016-01-28 22:32] robertjd opened #292 "Multi-tenancy support"
We need to add multi-tenancy support to this library, using our Organization model.  This will affect how the login and registration controllers operate.  This task needs more definition, but the essence is that it will mirror how we handle organizations for ID Site.

Note: we also need to ensure that we give some options that allow the developer to specify account stores, to help those who are us

[2016-01-28 22:36] ziggamon commented on #134
Using the keystone.js framework and it seems like i doesn't let you do custom code for app.listen (or at least I didn't manage to find it).

Suggestions on how to get this working without this race issue? (Putting all of keystone.start() in stormpath.ready event seems to break deployment on heroku). Have spent some hours now pulling both libraries apart to see if it can be interwoven but to no suc

[2016-01-28 22:36] robertjd commented on #260
Resolved in [2.3.5](https://github.com/stormpath/express-stormpath/blob/master/docs/changelog.rst#version-235)

[2016-01-28 22:36] #260 closed

[2016-01-28 22:39] robertjd commented on #247
A solution is in progress via #251

[2016-01-29 01:32] robertjd commented on #180
Hello @baer !  JFYI, we have removed the body-parser dependency as of 2.3.7, so please give this a try and let us know how it works for you!  Closing this issue unless we need to re-open.  Thanks again for helping with this one!

[2016-01-29 01:32] #180 closed

[2016-01-29 01:34] robertjd commented on #194
This should now be fixed in 2.3.7, closing.

[2016-01-29 01:34] #194 closed

[2016-01-29 04:05] robertjd commented on #272
This is fixed in >= 2.3.6, where we updated to stormpath-config@0.0.18

FYI, the `client` key is NOT necessary - `apiKey` can be at the root of the configuration object and this is [how we example the usage of client options](http://docs.stormpath.com/nodejs/express/latest/configuration.html#stormpath-client-options).  The fact that `config` works is due to some legacy logic we have in the config

[2016-01-29 04:05] #272 closed

[2016-01-29 22:19] javierbq commented on #275
@robertjd: what is the meaning of the 'ready' label? is this committed but not released yet?

[2016-01-29 22:22] robertjd commented on #275
Ready means we've prioritized it over other issues, stay tuned for a fix!

On Fri, Jan 29, 2016 at 2:19 PM, Javier Castellanos <
notifications@github.com> wrote:

[2016-01-29 22:39] javierbq commented on #275
awesome thanks!

[2016-01-29 22:48] robertjd commented on #275
No prob!  FYI, we're using a Waffle board now, that is what is setting the tags.  I need to link to this from our README files:

https://waffle.io/stormpath/express-stormpath

It's pretty amazing

[2016-01-29 22:59] javierbq commented on #275
Awesome thanks!! We are relying 100% on stormpath for our authentication so I really appreciate the transparency on your development process.

Related to this particular bug: is there any hack I can do in the meantime to deal with this?

[2016-01-30 01:14] robertjd commented on #275
Hey @javierbq , I just spent some time with this issue.  Could you share a reproduction case?  I'm not able to reproduce the situation that @typerandom has posted.  I don't get an error with a token that has an invalid signature (Note: I create a new JWT with an invalid signature, I did not use the one that was posted in the repo case above.  That one was giving a different error: token does not e

[2016-02-01 08:42] typerandom commented on #275
@robertjd I'll look into this a bit more.

[2016-02-02 06:52] javierbq commented on #275
Hi @robertjd , not sure how to reproduce this bug, I only how to avoid it (deleting the offending cookie).

[2016-02-04 03:30] xtu opened #297 "Error: Cannot send secure cookie over unencrypted connection"
When I try to login through stormpath default login page, an error is shown. I am using custom login view.
[code]

[2016-02-04 08:36] robertjd opened #298 "Upgrade to latest framework spec"
This is the root issue for the milestone.  Create more issues to track work and issue PR's against the "framework-spec-upgrade" branch.

Latest spec can be found here:

https://github.com/stormpath/stormpath-framework-spec

High level todos (list may not be complete yet):

* [x] Upgrade [JSON error responses](https://github.com/stormpath/stormpath-framework-spec/blob/master/error-handling.md#error

[2016-02-04 17:48] timothyej opened #299 "Add preRegistrationHandler and preLoginHandler"
Just like a `postRegistrationHandler` and `postLoginHandler`, add a `preRegistrationHandler` and `preLoginHandler` that gets called before the registration and login.

Use-case would be to do validation and changes to data before registration or login.

See @robertjd's comment: <https://github.com/stormpath/express-stormpath/pull/76#issuecomment-179949019>

[code]

[2016-02-05 05:45] lancecarlson opened #301 "Configurable middleware before controllers"
It would be nice if you could configure middleware or something before the controllers. I am able to run use before the init but it gets a little unwieldy when I can't make specific middleware configuration for these controllers. (One example, I want to set the cache control on just these routes, but not my internal api routes)

[2016-02-05 15:29] typerandom commented on #230
This issue has actually already been adressed in this PR #296 (see https://github.com/stormpath/express-stormpath/pull/296/files#diff-20d70a82acdce49356873688f501f1d9R35) so when we merge that, we'll be able to close this one too).

[2016-02-05 22:01] #251 closed

[2016-02-05 22:04] #230 closed

[2016-02-05 22:14] #275 closed

[2016-02-06 00:13] robertjd commented on #297
Hello, thank you for the report.  Are you running your application behind an HTTPS proxy?  If so, you may need to add the setting `app.set('trust proxy',true);` on your Express application, so that it can use proxy header information to know that it's behind an HTTPS proxy.

[2016-02-06 00:30] xtu commented on #297
Hi @robertjd , when I tried to access the website, I connect directly to the node http server on a specific port. I did not use a HTTPS proxy.

[2016-02-06 00:32] robertjd commented on #297
Are you using our configuration options to explicitly enable the HTTPS options of our cookies?  That might cause the problem if you aren't using HTTPS.

[2016-02-06 00:33] xtu commented on #297
No, I believe I have not explicitly set that option. I think the default setting should be disabled.

[2016-02-06 01:06] xtu commented on #297
I probably found the cause of the issue. I am not using HTTPS but I have set ```accessTokenCookie```. It used work fine until a new change is made on ```cookies``` package. See this commit: https://github.com/pillarjs/cookies/commit/f1b59960a530303b4fdad9516a2904b294959d9a

The issue is fixed by removing ```accessTokenCookie``` for now.

[2016-02-08 13:47] timothyej opened #305 "LinkedIn callback doesn't work"
Using the [express-stormpath-sample-project](https://github.com/stormpath/express-stormpath-sample-project) to log in with LinkedIn gives error on callback.

### How to reproduce

1. Checkout [express-stormpath-sample-project](https://github.com/stormpath/express-stormpath-sample-project)
2. Configure a Directory with LinkedIn
3. Run the example
4. Try to login with LinkedIn
5. Note that the callb

[2016-02-08 22:41] #288 closed

[2016-02-09 00:31] edjiang commented on #288
whoo!

[2016-02-09 12:53] timothyej commented on #298
FYI: I just created the `framework-spec-upgrade` branch:

https://github.com/stormpath/express-stormpath/tree/framework-spec-upgrade

[2016-02-09 12:57] timothyej opened #306 "Implement JSON view model for GET on /login"
Implement JSON view model for GET on `/login` according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec):

Part of #298.

[2016-02-09 13:22] timothyej opened #307 "Implement JSON view model for GET on /register"
Implement JSON view model for GET on `/register` according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec):

Part of #298.

[2016-02-09 14:14] timothyej commented on #306
@robertjd, why would we want to include the form fields in the view model for `/login`? Wouldn't it always be username and password? Or will it possible to add organization as well?

[2016-02-09 15:07] typerandom commented on #306
@timothyej I think the idea is that since [it's configurable](https://github.com/stormpath/stormpath-framework-spec/blob/master/web-config.yaml#L128) it needs to expose those values. I.e. maybe someone wants the placeholder to only be "Email" instead of "Username or Email".

[2016-02-09 15:09] timothyej commented on #306
Thanks @typerandom, I had some guesses about that too, but it's not really clear. If this turns out to be correct, I will probably clarify that in the specs.

[2016-02-09 15:39] robertjd commented on #306
Yes, fields are configurable and will be extended by multi tenancy support.
On Feb 9, 2016 7:09 AM, "Timothy E. Johansson" <notifications@github.com>
wrote:

[2016-02-10 03:48] stevebread commented on #167
Can the access token be used as a csrf token? I came across the concept of [double submit cookies](https://www.owasp.org/index.php/Cross-Site_Request_Forgery_%28CSRF%29_Prevention_Cheat_Sheet#Double_Submit_Cookies). I'm using Angular on the client and its only a simple configuration to have Angular return the access token in the `X-XSRF-TOKEN` header and then on the server I can compare the cookie

[2016-02-10 10:09] typerandom opened #308 "Implement produces option for /login"
Implement the produces option for `/login` according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/login.md#feature-description):

Part solution of #298.

[2016-02-10 10:19] typerandom opened #309 "Implement produces option for /register"
Implement the produces option for `/register` according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/registration.md#feature-description):

Part solution of #298.

[2016-02-10 18:02] jonathan-fielding opened #311 "/change forwards to /forgot"
Hi

When I am logged in I expect to got to /change to change my password but unfortunately I simply get forwarded to /forgot. This is my config:

[code]

Thanks

Jonathan

[2016-02-10 18:04] jonathan-fielding commented on #311
Tested this on both facebook auth and normal login

[2016-02-11 11:37] timothyej commented on #307
As this is almost identical to #306, I will wait for #310 to be merged and then do a small refactor to make it work for `/register` as well.

[2016-02-11 11:42] timothyej opened #312 "Implement GitHub social provider support"
Implement GitHub [social provider](https://github.com/stormpath/stormpath-framework-spec/blob/master/social.md#feature-description) support.

Part of #298.

[2016-02-11 16:59] stevebread commented on #167
never mind, the access token is rightfully HttpOnly

[2016-02-11 17:29] lillereven commented on #311
Same here. I am on version 2.4.0.

[2016-02-11 17:34] robertjd commented on #311
Hey all!  This is, actually, the intended behaviour.  The /change route is meant to be used when you are not logged in, and you have arrived on the route with a password reset token that has been emailed to you.

At the moment our library does not provide a change-password form for authenticated users.  We found that most developers have a lot of customization around this, so we left it out of the

[2016-02-11 17:34] #311 closed

[2016-02-12 00:36] robertjd opened #315 "Use local token validation by default"
In our 3.0 release, we will start using using [local token validation](http://docs.stormpath.com/nodejs/express/latest/authentication.html#token-validation-strategy) by default.  This should be a simple change to the default [web-config.yaml](https://github.com/stormpath/stormpath-framework-spec/blob/master/web-config.yaml)

Part of #298.

[2016-02-12 11:54] timothyej opened #316 "Add support for stormpath.web.social configuration"
Add support for [`stormpath.web.social`](https://github.com/stormpath/stormpath-framework-spec/blob/master/social.md#implementing-page-based-workflows) option.

Part of #298.

[2016-02-12 12:29] timothyej commented on #316
Closed in favour of https://github.com/stormpath/stormpath-node-config/issues/32

[2016-02-12 14:51] timothyej opened #319 "Implement SPA configuration options"
Implement SPA configuration options according to the [spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/single-page-apps.md#configuration).

[code]

Part of #298.

[2016-02-13 14:40] typerandom commented on #319
@timothyej Are you working on this? The thing is that my PR #313 will basically resolve this. I.e. the thought is to have a generic handler for this in `helpers.handleResponse`.

[2016-02-13 16:28] jonathan-fielding commented on #311
Would be nice to have a change password page or a profile page built in even if its disabled by default

[2016-02-14 14:42] timothyej commented on #319
I haven't started writing any code yet, but could you explain how you would solve it with #313? Because this option should serve the SPA app (specified in view) if it's enabled? You mean that this logic would be placed in the `application/json` handler?

[2016-02-15 08:50] typerandom commented on #319
Not in the `application/json` handler. But the thought is that the `handleRequest` helper it will simply redirect all `text/html` requests if SPA is enabled. Since you haven't started on this yet, I'll jump in and fix it.

[2016-02-15 10:17] timothyej commented on #319
Sure, go ahead, but shouldn't we merge your other PR first?

[2016-02-15 14:51] typerandom commented on #319
@timothyej Yeah, I do. But from what I can see all of them is in pending review state? I don't see that I can do anything more there? Or can I?

[2016-02-15 18:51] edjiang opened #321 "Email Verification Page UI Bug"
Link to "back to login" is off on the email verification page. on `express-stormpath 2.4.0`

Appears as:

![screen shot 2016-02-15 at 10 49 25 am](https://cloud.githubusercontent.com/assets/918770/13057583/f9300242-d3d1-11e5-80ce-01de7d9e8e2e.png)

Expecting something like:
![screen shot 2016-02-15 at 10 49 50 am](https://cloud.githubusercontent.com/assets/918770/13057584/f94f262c-d3d1-11e5-9dfa-e

[2016-02-16 10:01] #312 closed

[2016-02-16 11:17] #306 closed

[2016-02-16 16:40] typerandom opened #325 "Upgrade JSON error responses"
Upgrade JSON error responses according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/error-handling.md#error-handling).

#### Discussion

This will be a breaking change since the JSON error field has changed from `error` to `message`. How should we handle this?

I.e. [https://github.com/stormpath/express-stormpath/blob/master/lib/controllers/register.js#

[2016-02-16 17:30] typerandom opened #326 "Implement produces option for /forgot"
Implement the produces option for `/forgot` according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/password-reset.md#request-handling):

Part solution of #298.

[2016-02-16 17:32] typerandom opened #327 "Implement produces option for /verify"
Implement the produces option for `/verify` according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/email-verification.md#request-handling):

Part solution of #298.

[2016-02-16 17:33] typerandom opened #328 "Implement produces option for /change"
Implement the produces option for `/change` according to the [framework spec](https://github.com/stormpath/stormpath-framework-spec/blob/master/password-reset.md#request-handling):

Part solution of #298.

[2016-02-17 03:31] edjiang opened #329 "Making givenName and surname optional should not set fields to UNKNOWN"
If I set givenName/surname to not default, express sets it to UNKNOWN regardless of the input. This should not happen.

For instance, if I set:

[code]

And register with a Given Name set, `express-stormpath` turns my givenName into "UNKNOWN"

https://github.com/stormpath/express-stormpath/blob/master/lib/controllers/register.js#L84

[2016-02-17 03:46] edjiang opened #330 "Something is being cached improperly?"
In `express-stormpath 2.4.0`:

1. Create a new user w/ email verification enabled.
2. Verify the user via the email link, then POST against `/oauth/token` to get an access token
3. Try to get `/me`. Response is `401 Unauthorized`
4. Restart the server. Use the same access token. Response is `200 OK`

[2016-02-17 04:07] #308 closed

[2016-02-18 02:07] robertjd commented on #301
Hi @lancecarlson !  Thanks for reaching out, sorry I didn't write back sooner.  Could you show me the controllers you want more flexibility with, and how you imagine it might look?  We're always tyring to make the library more flexible.  Also, can you take a look at #285 and let me know if that change would help you?

Thanks!
Robert

[2016-02-18 02:14] robertjd commented on #247
This was done in 2.4.0

[2016-02-18 02:14] #247 closed

[2016-02-18 02:21] #307 closed

[2016-02-18 11:24] #327 closed

[2016-02-18 13:58] #319 closed

[2016-02-18 16:17] #309 closed

[2016-02-18 22:18] #328 closed

[2016-02-18 22:18] #326 closed

[2016-02-19 04:39] robertjd opened #338 "Implement Stormpath-Agent tracking"
From this spec:

https://github.com/stormpath/stormpath-framework-spec/blob/master/agent-tracking.md

This likely requires work in the Node SDK.

[2016-02-19 14:56] typerandom opened #341 "Implement produces option for /logout"
Implement the produces option for `/logout` according to the framework spec.

Part solution of #298.

[2016-02-21 03:46] bentedder commented on #188
I am having the same issue w/the /login route. Am attempting your fix of going straight to stormpath with no luck. Will do a bit more digging.

[2016-02-22 10:04] #341 closed

[2016-02-22 21:43] edjiang commented on #330
Try to reproduce in framework spec upgrade branch

[2016-02-23 06:17] #325 closed

[2016-02-23 06:30] #338 closed

[2016-02-24 03:46] robertjd opened #348 "Spec updates for `/me` route"
For 3.0, the following changes need to happen for the `/me` route:

* Expansion has to be explicitly defined via `stormpath.web.me.expand.[resource]` option

* Fix: this route needs to send no-cache headers, so that the browser does not cache this resrouce

[2016-02-24 03:53] #315 closed

[2016-02-24 17:17] schamp commented on #261
I am experiencing the same thing.

first, looking at the source code, it appears that the validationStrategy === local check only occurs when getUser() is called, and only if the request passes the access token via a cookie, not a Bearer header.  If using a bearer header, it just calls "application.authenticateApiRequest".

Note that this appears to be a separate middleware hook from stormpath_exp

[2016-02-25 00:29] edjiang commented on #330
@robertjd just tried to reproduce, still happens

[2016-02-25 00:36] edjiang commented on #329
Just tried to reproduce, still happens on latest for the `framework-spec-upgrade` branch

[2016-02-25 01:07] #316 closed

[2016-02-25 07:09] robertjd opened #352 "Implement logout as POST"
Per new spec here: https://github.com/stormpath/stormpath-framework-spec/blob/master/logout.md

[2016-02-25 07:38] robertjd commented on #261
Hello everyone, I will be looking into this issue tomorrow.

[2016-02-26 05:57] #352 closed

[2016-02-26 08:12] #348 closed

[2016-02-26 09:18] #285 closed

[2016-02-26 19:42] robertjd commented on #330
Hey @edjiang I'm not able to reproduce this.  Here is what I'm doing:

From my browser:

1. registering for an account
2. clicking on the email I get, to verify the account

Then from my REST tool:

3. Post to `/oauth/token` with my new account's username and password, I get back an access token
4. I use that token with `Authorization: Bearer <token>` when requesting `/me`, and I get the expected

[2016-02-26 19:59] edjiang commented on #330
I registered via POST, not sure if that should make a difference. I'll try reproducing again

[2016-02-26 20:01] robertjd commented on #330
What client/client library are you using? Not a browser?

[2016-02-26 20:01] edjiang commented on #330
Huh, I was able to do that from the browser as well. Let me follow up with you on chat.

[2016-02-26 20:30] edjiang commented on #330
Here's me trying to reproduce it from scratch:

Install the `express-stormpath-sample-project`. Change `package.json`'s dependency to:

`"express-stormpath": "stormpath/express-stormpath#framework-spec-upgrade",`

Then `npm install`.

Repeat steps from initial post for the issue. It breaks for me.

[2016-02-26 20:33] robertjd commented on #330
Can you please clarify what type(s) of client you are using for each step?

[2016-02-26 21:00] edjiang commented on #330
It happened when I was both using the website, and posting json. But here's the json requests I was sending:

[code]

[code]

[code]

[2016-02-26 22:54] robertjd commented on #261
Thanks @schamp for looking into this!  You're exactly right, the problem happens because are using the `application.authenticateApiRequest()` method for authentication our password-grant tokens, but that method was originally designed for the client-credential tokens and as such it isn't working quite right.

We're about to release a 3.0 version of this library on Monday.  We probably don't have t

[2016-02-26 22:54] #329 closed

[2016-02-26 23:18] edjiang commented on #330
@robertjd and I did a call, and we figured out why it was happening for me. I was verifying against `https://api.stormpath.com/emailVerificationTokens?sptoken=`.

The `/oauth/token` endpoint forwards the request to Stormpath, so the account cache doesn't get hit and `express-stormpath` returns a valid token.

However, since the account is cached as UNVERIFIED, when trying to hit the endpoints, the

[2016-02-26 23:18] #330 closed

[2016-02-27 15:57] schamp commented on #261
Thanks @robertjd , I wait with bated breath.

[2016-02-28 23:01] stevebread commented on #233
This issue is back. Did a clean install and found that startup fails. 2.3.4 pulls in deps stormpath@0.17.4  and stormpath-config@0.0.20. Reverted to stormpath@0.17.1  and stormpath-config@0.0.18 (the versions in my working environment) and the server starts.

[2016-02-28 23:38] robertjd commented on #233
Hi @stevebread , thanks for the information.  Do you need to be on 2.3.4?  I'd suggest upgrading to 2.4.0, which has a lot of fixes regrading configuration parsing.

[2016-02-29 00:42] stevebread commented on #233
Hi @robertjd , I'm sorry, typo in the previous comment. I meant to say 2.4.0 instead of 2.3.4. I need to downgrade the deps that 2.4.0 pulls in for it to work.

[2016-02-29 01:01] edjiang commented on #298
@robertjd Just ran my test suite against the current version of `framework-spec-upgrade`; looks pretty good, only thing left is /me should be returning things wrapped in an account object =]

[2016-02-29 07:08] miketamis commented on #152
Is there some way to achieve CORS atm?

[2016-02-29 19:46] robertjd commented on #152
Hello at @miketamis , we have a CORS example here:

https://github.com/stormpath/stormpath-sdk-angularjs/tree/master/example/cors-app

Please let me know if this is useful, I can provide a better example if needed.  We're probably not going to add any CORS dependencies in this library, but instead show it by example.  Thanks for getting in touch!

[2016-02-29 19:49] robertjd commented on #233
Thanks @stevebread .  Can you tell me how you're trying to supply the api key information, e.g. environment variables or static files?   This will help us debug.

[2016-02-29 22:30] edjiang opened #362 "Social login not compliant to spec"
Testing against `framework-spec-upgrade` branch.

In https://github.com/stormpath/stormpath-framework-spec/blob/master/login.md:

It says to post:

[code]

But `express-stormpath` only responds to:

[code]

Which is correct?

[2016-02-29 23:26] robertjd commented on #362
Spec was modified to mirror the express implementation, as this is the one that we want to use for all integrations.

[2016-02-29 23:26] #362 closed

[2016-03-01 00:00] stevebread commented on #233
Its an angular fullstack app. In *server/config/environment/production.js*
[code]
`stormpathCredentials` is part of a JSON config provided to the application.

The environment module is then used to initialize stormpath
[code]

[2016-03-01 13:08] cgilindellmo commented on #257
+1 for this feature.

It's possible to enable confirmPassword in v3.0.0, but there's no validation if the passwords actually match.

[2016-03-02 02:22] robertjd commented on #298
Done!! Huge props to @timothyej and @typerandom

[2016-03-02 02:22] #298 closed

[2016-03-02 21:35] #305 closed

[2016-03-03 23:33] robertjd commented on #233
Thanks!  I can confirm the problem in 2.4.0, passing the API Key as you've shown does not work.

This problem does not exist in our latest 3.0 release that we made this week.  Would you be able to make an upgrade to that version? The [changelog is here](http://docs.stormpath.com/nodejs/express/latest/changelog.html#major-release-3-0-0) and the [upgrade guide is here](http://docs.stormpath.com/node

[2016-03-04 03:05] stevebread commented on #233
Since there are a lot of changes I won't be able to upgrade to 3.0 right away but no need for a fix on 2.4.0 because I haven't encountered a problem so far with the downgraded versions of the other libraries. If I do, I'll upgrade to 3.0 sooner :) Thanks @robertjd!

[2016-03-04 17:03] robertjd commented on #233
Sounds good, happy to help!

[2016-03-04 21:49] typerandom commented on #267
Closing this since now `/login`, `/logout` and `/register` is enabled by default.

[2016-03-04 21:49] #267 closed

[2016-03-07 19:07] tungpham opened #373 "Remove all cookies in session"
Looks like when a POST is made to /logout, only the accessToken and refreshToken cookies are deleted. It should delete every other cookies. This will make express-stormpath works with express-session in session management

[2016-03-07 19:13] robertjd commented on #373
Thanks for the report, are the specific cookies that are causing a conflict?

[2016-03-07 19:18] tungpham commented on #373
express-session will create a connect.sid cookie. After /logout, that cookie still remain there. express-stormpath only clear out its own cookies (accessToken and refreshToken). The doc makes it sounds like all session cookies will be cleared.

https://docs.stormpath.com/nodejs/express/latest/logout.html#configuration-options

[2016-03-07 19:24] robertjd commented on #373
Thanks for the info!  I see how our documentation could make it seem that we delete all cookies.  However we don't want to touch any cookies other than our own, as someone may use the connect session for other purposes.  But we do want to make it easy for you to hook into our logout process, so that you can delete the connect session if needed.  We have this tracked in #218 and we've opened that t

[2016-03-07 19:24] #373 closed

[2016-03-07 21:05] #257 closed

[2016-03-07 23:31] robertjd opened #375 "Stormpath sibling dependency breaks apiKey option"
This is a strange one, @typerandom can you confirm this reproduction?

Create a new node app, with the following package.json:

[code]

Install the modules, then run this server with some valid credentials and an application, and put them into the code as seen here:

[code]

I get the error  `Error: API key ID and secret is required.`

Then I do the following:
* Remove stormpath from package.json

[2016-03-07 23:58] schamp commented on #375
I was seeing something like this, but I tried running
`npm shrinkwrap`
and then it went away.  But I haven't tried restarting the service since then, not wanting to push my luck.

[2016-03-08 00:21] typerandom commented on #375
@robertjd I'm looking into this. It sounds very weird, like there's an old dependency (either linked) or fixed (with shrinkwrap) that is causing it... But I'm going to try myself and see if it's reproducable.

[2016-03-08 00:35] typerandom commented on #375
I just tried this and I wasn't able to reproduce the issue. I got the `Stormpath Ready` message immediately.

[2016-03-08 00:41] robertjd commented on #375
Did you make sure that you don't have your API keys specified elsewhere,
such as environment variables, yaml files, or properties files in your
homedir?

On Mon, Mar 7, 2016 at 4:35 PM, Robin <notifications@github.com> wrote:

[2016-03-08 00:50] typerandom commented on #375
I didn't. But I tried first running the application href as 'xxx' and that threw an error, then I ran the api key with 'xxx' and it threw an error. Then I replaced the values with real ones. And then it worked.

@robertjd If you do the steps, are you able to replicate the error each time?

[2016-03-08 01:45] robertjd commented on #375
@typerandom and I just dug into this, and we think it's an issue with npm 2.x - we can reproduce my problem there, but not with 3.x.

@schamp can you tell us what npm version(s) you're using?  Thanks!

[2016-03-08 13:37] schamp commented on #375
I'm running on a cloud foundry container, the NPM version I have appears to be 2.14.9

[2016-03-09 22:55] robertjd opened #380 "Document social login, access token vs. authorization code"
We support both, so we should update the documentation to describe how each can by done, and a little information on why you might choose one over the other.

[2016-03-10 00:52] #278 closed

[2016-03-10 18:39] edjiang commented on #380
I'll just tag along on this issue for social login documentation:

https://docs.stormpath.com/nodejs/express/latest/social_login.html#google-login states that you need to turn on the G+ API; as per testing @robertjd, @bretterer and I did about a month ago, it's no longer needed and we can remove that step from setup.

[2016-03-11 15:03] balsamiqstefano opened #383 "custom logger is ignored"
I'm passing a "logger" parameter (a Winston logger) to stormpath.init, but it looks like it's being ignored and the log keeps going to the console using the fallback defined in lib/stormpath.js line 33.

I think the problem resides in the fact that "stormpathLogger" is read via an "app.get" at line 30, but there was never an "app.set" call before.

For the moment I worked around the issue by expli

[2016-03-11 21:16] tungpham commented on #134
Can confirm. I'm seeing the same issue with epxress-generator, express-stormpath hosting on heroku

[2016-03-11 22:55] edjiang opened #384 "loginRequired middleware doesn't respect produces config"
If I set:

[code]

And I send a HTTP request to a route with `stormpath.loginRequired` without an `Accept` header, Stormpath redirects me to `/login?next=route`

Expected behavior: Stormpath returns `401 Unauthorized`

HTTP logs:

[code]

[2016-03-12 00:50] edjiang commented on #384
Doing further testing, the express-stormpath framework doesn't follow this part of the framework spec:

[code]

[2016-03-12 00:52] edjiang commented on #384
![screen shot 2016-03-11 at 4 51 50 pm](https://cloud.githubusercontent.com/assets/918770/13719384/a4c8c806-e7a9-11e5-9d8d-39ca95076f80.png)
![screen shot 2016-03-11 at 4 52 02 pm](https://cloud.githubusercontent.com/assets/918770/13719385/a4e64296-e7a9-11e5-9e0d-91b1e9cd4911.png)

[2016-03-12 03:22] #299 closed

[2016-03-13 18:50] stevebread opened #385 "sptoken in password reset link not validated"
I'm using express-stormpath 3.0.1 and angular sdk 1.0.0. On loading the password reset page, the angular sdk makes a GET request of the form `http://localhost:9000/change?sptoken=...`. This request always returns the index.html page regardless of the value of sptoken which the angular sdk interprets as a successful response and then shows the password reset form.

The password change submission do

[2016-03-14 21:39] #218 closed

[2016-03-15 16:37] robertjd commented on #375
I'm going to close this issue for now, we've found several instances where upgrading to NPM 3.x will resolve the problem.  I'd still like to know why our library can get into this edge case, but this NPM workaround is acceptable for now.

[2016-03-15 16:37] #375 closed

[2016-03-15 23:14] robertjd commented on #385
Thanks @stevebread !  I was able to confirm this bug and have an open PR to fix it.

[2016-03-15 23:20] #261 closed

[2016-03-17 16:02] #385 closed

[2016-03-18 21:00] typerandom opened #390 "Errors when trying to use middleware with webpack-dev-server"
There seems to be some compatibility issues when running the `express-stormpath` middleware with [`webpack-dev-server`](https://webpack.github.io/docs/webpack-dev-server.html).

We need to investigate why this happens and if we can easily fix it.

[2016-03-18 21:02] robertjd commented on #390
Are you getting some errors or re-produceable behavior that is problematic?

On Fri, Mar 18, 2016 at 2:00 PM, Robin <notifications@github.com> wrote:

[2016-03-18 21:07] typerandom commented on #390
Yeah, basically it was complaining that `app.get` was undefined. But I haven't investigated this in-depth to have anything more to add. My thought with creating this issue was to track it so that we can investigate it more later on.

[2016-03-20 09:42] nitzanshinnies opened #391 "postLoginHandler: changes to customData are discarded"
I'm trying to add data to the customData object (it's expanded)

-------------------------
postLoginHandler: function (account, req, res, next) {
req.user.getCustomData(function(err, data) {
[setting various properties]

data.save(function() {
req.user.customData=data;
next();
});

-------------------------

however, the new properties are discarded - they don't show either in the req.user object

[2016-03-20 10:51] #391 closed

[2016-03-20 16:19] radleymith opened #392 "YAML not working"
Within the past few days, an update to stormpath, stormpath-config, or express-stormpath has caused the stormpath.init(app, {/*someConfig*/}); function to not be able to read my yaml file.  I'm currently trying to hunt down the root cause in the commit history, but if someone closer to the source knows more information I'd appreciate it.  I can still get my app to run by exporting the id, secret,

[2016-03-21 04:05] bentedder commented on #390
What kind of errors are you getting? I've been using it with webpack-dev-server for a while now...

[2016-03-21 14:38] radleymith commented on #392
I should probably open this with stormpath-config instead, I think I know (roughly) where the error is... it's related to getting the correct directory expansion for finding the YAML file.

[2016-03-21 15:52] robertjd commented on #392
Hi @radleymith could you take a look at #375?  We do have an issue with sibling dependencies and NPM versions, I wonder if this is true for your case.  Thanks!

[2016-03-21 17:32] radleymith commented on #392
My npm version has always been 3.3.*.  You might be on to something with the sibling dependency, but the only things I've added to my package.json are redux and react-redux.

[2016-03-21 17:34] radleymith commented on #392
I've also opened an issue on stormpath-node-config because it seems like the process that looks for and loads the stormpath.yml is looking in the wrong directory(inside the node_modules directory).

[2016-03-21 21:00] robertjd commented on #391
Hello @nitzanshinnies , I wanted to make sure that you were able to get around this error?  It looks like the problem was that you were trying to modify the custom data from inside the save function, but it needs to go outside of it.  Let us know, always happy to help!

[2016-03-21 21:11] robertjd commented on #392
Thanks for looking into this with us!  Can you show me what your stormpath module structure looks like with `npm ls | grep stormpath`?  Mine looks like this:

[code]

That is what I get at the root of our [express-stormpath-sample-project](https://github.com/stormpath/express-stormpath-sample-project), and with this project I'm able to use my stormpath.yaml file. It's in the root of the sample pro

[2016-03-21 23:15] robertjd commented on #383
Thanks @balsamiqstefano !  This is broken, I've opened a PR to fix it.

[2016-03-22 05:06] edjiang commented on #241
Fixed in #360

[2016-03-22 05:06] #241 closed

[2016-03-22 12:37] radleymith commented on #392
Sure my stormpath module structure...
[code]
My stormpath.yaml
[code]
I'm using Node v5.5.0 and NPM 3.3.12

[2016-03-22 14:24] #383 closed

[2016-03-22 15:59] robertjd commented on #392
Thanks!  I see that in your configuration, the `stormpath` dependency has been moved up the tree - that may be a clue for us as we debug.  Are you using a shrinkwrap file to achieve this structure?

[2016-03-22 16:12] robertjd commented on #237
This is available in 3.0

[2016-03-22 16:12] #237 closed

[2016-03-22 16:14] radleymith commented on #392
I'm not using shrinkwrap

[2016-03-22 20:16] robertjd opened #394 "Document /me route"

[2016-03-23 09:47] #394 closed

[2016-03-24 07:31] cgilindellmo opened #397 "Degraded performance after upgrading from 3.0.1 to 3.1.0"
Hi,

We've experiencing significant slowdowns in our application after upgrading from 3.0.1 to 3.1.0. Our Mocha tests started to timeout as requests take much longer than before. We authenticate using /oauth/token (password) authentication mechanism.

We're using the following Stormpath middleware's for our routes:
stormpath.apiAuthenticationRequired, stormpath.getUser

Only configuration change f

[2016-03-24 15:58] robertjd commented on #397
Hello @cgilindellmo , can you tell me which [token authentication strategy](http://docs.stormpath.com/nodejs/express/latest/authentication.html#token-validation-strategy) you are using? `stormpath` or `local`?  If you are using `stormpath`, that will explain the slowdown: in 3.1.0 we fixed `apiAuthenticationRequired` to respect the `stormpath` option, and make a roundtrip call to our API on every

[2016-03-24 16:46] edjiang commented on #173
I like this list, it's definitely a lot clearer than `loginRequired` and `apiAuthenticationRequired`

[2016-03-24 16:55] robertjd commented on #173
I'm also liking the require prefix.

New question: what to do with our `getUser` middleware?  This middleware is essentially `requireAuthentication`, but without the require part :)  For all of these proposed authenticators, I can see how it would be useful to resolve the user, via the specified means of authentication, but not 401/error if the resolution cannot be done.  Just call next() instead.

[2016-03-24 16:57] timothyej commented on #173
How about `requireUser`? ;)

[2016-03-24 16:57] edjiang commented on #173
How often do you think that people need to request a specific form of auth, vs. a user in general? If the 80% use case is resolving a user, then I'd suggest:

`getUser`
`requireUser`
`requireApiAuthentication`
etc

[2016-03-24 17:40] cgilindellmo commented on #397
We've explicitly defined local token auth strategy (although it's documented as the default).

Thanks,
Matti

[2016-03-24 17:44] cgilindellmo commented on #397
Here's the config:

stormpath.init(app, {
    debug: 'info, error',
    web: {
      me: {
        enabled: false
      },
      oauth2: {
        password: {
          validationStrategy: 'local'
        }
      },
      register: {
        form: {
          fields: {
            confirmPassword: {
              enabled: true
            }
          }
        }
      }
    }
  });

[2016-03-24 19:27] robertjd commented on #397
Thanks!  I see where the problem is, I forgot to carry the strategy option into a part of this refactor :( I'll make a patch release today, sorry about this!

[2016-03-25 02:13] robertjd commented on #397
I've published 3.1.1, which should fix this issue.  @cgilindellmo can you please try?  Thanks!

[2016-03-25 12:35] cgilindellmo opened #400 "Twitter Social Login"
Hi,

Do you have any plans to provide Twitter Social Login in the near future? We'd really appreciate this feature.

Thanks,
Matti

[2016-03-25 12:42] cgilindellmo opened #401 "PostLogin hook for /oauth/token"
Hi,

Is it currently possible to hook-in custom code / middleware after /oauth/token has successfully returned access_token / refresh_token? Current pre/postLoginHandler's only support form based authentication and there's no counterpart for token based authentication.

Thanks,
Matti

[2016-03-25 20:03] cgilindellmo commented on #397
It's good now, thanks!

[2016-03-25 20:05] robertjd commented on #397
Awesome!

[2016-03-25 20:05] #397 closed

[2016-03-25 20:17] robertjd commented on #401
Hi Matti!  This isn't possible at the moment, but I like this request.  Can you tell me what you're trying to achieve after we've issued access and refresh tokens?  I might be able to offer a workaround in the meantime.

[2016-03-25 20:20] robertjd commented on #400
Unfortunately we don't have that in the Stormpath REST API at this time, but we plan to add Twitter support in the future.  I've created an issue that you can follow on our new feature tracker, please follow here:

http://ideas.stormpath.com/ideas/IAM-I-35

[2016-03-25 20:58] cgilindellmo commented on #401
Hi,

We need to invoke 3rd party services on user login or refresh our user related locally cached entities.

We can probably work around these, but a stormpath provided hook would be useful.

[2016-03-26 21:14] stevebread commented on #385
Thanks @robertjd . I upgraded to 3.1.1 but now when I click on the email link the server always returns an error `{"status":400,"message":"passwordResetTokens password is an invalid type."}`

[2016-03-27 10:14] nitzanshinnies commented on #391
@robertjd Yes, sorry. My bad. The culprit was an object key that contained a space.

[2016-03-28 10:35] bartzilla commented on #20
What about forcing the user to type in his old password and then displaying new password & new confirm password? is this supported by stormpath?

[2016-03-28 15:31] rdegges commented on #20
Hey @bartzilla, you can indeed do this, but that functionality isn't pre-built into express-stormapth (a page, for instance). What you'd need to do is:

- Create a route / view that force a user to change their password.
- In your code, just update the user's password and save their account, for instance:

[code]

[2016-03-28 16:21] robertjd commented on #20
Hey @bartzilla , thanks for the question!  As @rdegges mentioned we don't have an out-of-the-box form for a logged-in password change form, but it's really easy to roll this into your profile page.  We have an example profile page here, you'd just need to modify it a bit to add the change password fields:

https://github.com/stormpath/express-stormpath-sample-project/

Hope this helps!

[2016-03-28 23:57] robertjd commented on #385
D'oh!  You're right, we fixed the invalid token case, but broke the valid token case.  I've opened #403 with another fix, and more tests to ensure that we don't break this in the future - sorry about that!

[2016-03-29 07:56] bartzilla commented on #20
Hey @robertjd and @rdegges very useful information indeed. I managed to implement the use case. Thank you very much your direction and quick response.
Best!

[2016-03-29 15:29] robertjd commented on #20
Awesome @bartzilla , glad you've got it working now!  Always happy to help :)

[2016-03-30 11:37] timothyej opened #407 "Unable to login after email verification via api.stormpath.com"
Creating an account with email verification turned on will leave the account unverified if the user verifies his account through another server. E.g. via the default link `
https://api.stormpath.com/emailVerificationTokens?sptoken=<token>`.

I've only been able to reproduce this using the JSON API (using Angular).

### How to reproduce

1. Turn on Email Verification on your Application
2. Run this

[2016-03-30 12:39] timothyej commented on #407
Closed in favour of https://github.com/stormpath/stormpath-sdk-node/issues/433 as the problem is that the account is being cached when it is created.

[2016-03-30 12:39] #407 closed

[2016-03-30 14:17] typerandom commented on #392
I have opened a PR that I think should fix this issue. See:
https://github.com/stormpath/stormpath-node-config/pull/46

[2016-03-30 16:44] robertjd commented on #385
Hi @stevebread , can you try the new 3.1.2 release?  This should be fixed for good now :)

[2016-03-31 00:32] stevebread commented on #385
3.1.2 is all good! Thanks @robertjd !

[2016-03-31 20:38] typerandom commented on #392
Issue has been solved. Was due to YAML file not properly setup. Closing.

[2016-03-31 20:38] #392 closed

[2016-04-01 19:28] edjiang opened #408 "GroupsRequired does not work with JSON"
For:

[code]

[code]

I expect to get `401 Unauthorized` instead.

If I authenticate with a valid access token but without the correct group:

[code]
<img width="636" alt="screen shot 2016-04-01 at 12 25 47 pm" src="https://cloud.githubusercontent.com/assets/918770/14217776/e66e5544-f804-11e5-8f98-58125e9fcfcb.png">

I expect to get `403 Forbidden` instead.

With a user in the correct group and ev

[2016-04-01 19:29] edjiang commented on #408
I'm writing this into the framework spec, but in general right now I think all middleware need to be inspecting the Accept: header and doing content negotiation.

[2016-04-01 21:45] edjiang opened #409 "IDSite not working?"
I'm unable to get `/login` to redirect to the IDSite when I set:

[code]

Any idea why that might be?

[2016-04-01 21:48] edjiang commented on #409
Nevermind, it should be `idSite`

[2016-04-01 21:48] #409 closed

[2016-04-02 21:13] cgilindellmo opened #410 "Unable to login using Google Social Login with online access"
Hi,
I'm able to login using Google as OAuth provider, but only with 'offline' access (providerData contains code). The 'online' access (providerData contains accessToken) fails in Stormpath's end, even though I'm supposedly doing things correctly. Could you verify that the online access in Stormpath's is working correctly?

I'm using JSON API method as described in https://docs.stormpath.com/nodej

[2016-04-04 18:11] edjiang commented on #410
Hey Matti,

I just tried Google Login with Express-Stormpath 3.1.2, and I'm confirming that it's working fine for me with the following permissions:

![screen shot 2016-04-04 at 11 08 53 am](https://cloud.githubusercontent.com/assets/918770/14258087/a688bc28-fa55-11e5-8b5c-1d981c1b9f94.png)

How are you generating the access token? I'm guessing you're using a Google SDK?

[2016-04-04 21:15] cgilindellmo commented on #284
We'd be interested to get this feature as well.

[2016-04-05 06:21] cgilindellmo commented on #284
There's undocumented application.resendVerificationEmail which implements this.

[2016-04-05 14:11] martinbooth opened #411 "access token and refresh token name not respected"
I have changed the names of the access token/refresh token as per the config. This is because we run both the dev and prod site under the same domain and don't want the cookies overwritten by each.

The settings for accesstoken and refreshtoken name affect the name of the cookies created, however the code is hard coded to read cookies with the names access_token and refresh_token, not respecting t

[2016-04-05 15:44] robertjd commented on #411
Thanks for finding this!  I'm going to open this up for our next release.

[2016-04-05 15:48] robertjd commented on #284
Thanks @cgilindellmo , that entire application API is available through `req.app.get('stormpathApplication')`.  We have more documentation about this here:

http://docs.stormpath.com/nodejs/express/latest/configuration.html#stormpath-application

[2016-04-05 15:54] robertjd commented on #410
Hi Matti, can you also show us the scope string that you are passing to Google?  In our library, this is configured with the `web.social.google.scope` property.  I see that this new property is not documented, I've added this to our todo list in #380 - sorry about that!

[2016-04-05 17:05] cgilindellmo commented on #410
Hi,
I should have opened this against the stormpath node.js module as I'm using [getAccount(providerOptions, [options,] callback)](http://docs.stormpath.com/nodejs/api/application#getAccount) function to implement Social Login as express-stormpath's implementation doesn't suit well for api-based social login (client's are mobile devices).

So I'm able to get this working:
`var options = {
  provid

[2016-04-05 17:10] edjiang commented on #410
Hey Matti,

Yes, both of these should be valid. I work @ Stormpath on the iOS side. Can you tell us a little more about how you're doing mobile?

If you haven't already seen it, our iOS and Android SDKs will plug into Express-Stormpath and make mobile auth just work.

If you want to handle it manually -- can you please tell me which OS & client library you're using to get the Google Access Token?

[2016-04-05 17:34] cgilindellmo commented on #410
Hi edjiang,

I'm doing the Google OAuth on iOS side using [GoogleSignIn](https://cocoapods.org/pods/GoogleSignIn) version 3.0.0. Google's docs are bit outdated for v3.0.0, but I've understood that when I define
- only `GIDSignIn.sharedInstance().clientID` in AppDelegate, then Google provides `user.authentication.idToken` as successful sign-in (which I can provide as `accessToken` for Stormpath's `

[2016-04-05 17:37] cgilindellmo commented on #410
Correction to the above: I'm actually POSTing `providerData` to /login endpoint as you noted.

[2016-04-05 17:47] cgilindellmo commented on #410
Hmm I might have read Google's specs wrong, https://developers.google.com/identity/sign-in/ios/api/interface_g_i_d_authentication#instance-method-summary actually defines **accessToken**, idToken is meant for OpenId.

I'll test this out and close the issue with my regrets if this now works..

[2016-04-05 17:53] edjiang commented on #410
Yep, you should be using user.authentication.accessToken instead.

If you're doing this, I would suggest trying our iOS SDK! We actually implement all of this for you, saving quite a bit of work =]

https://github.com/stormpath/stormpath-sdk-ios

[2016-04-05 18:45] cgilindellmo commented on #410
Thanks! (and sorry about this) I'll close the ticket.

[2016-04-05 18:45] #410 closed

[2016-04-06 19:37] cgilindellmo opened #413 "Error in configuring Stormpath logger"
Hi,

Stormpath fails to use my (simplified) logging module:

logger.js:
`module.exports = require('winston');`

app.js:
`var logger = require('./lib/utils/logger');
app.use(stormpath.init(app, {
  logger: logger,
....
`

I get the following error:
TypeError: b.hasOwnProperty is not a function
    at extend (/foo /node_modules/stormpath-config/node_modules/cloneextend/index.js:53:9)

Thanks,
Matti

[2016-04-06 23:04] cgilindellmo opened #414 "Create Custom fields name issue"
Hi,

[Creating Custom Fields](https://docs.stormpath.com/nodejs/express/latest/registration.html#creating-custom-fields) suggests that "**name** - The name of this field, in the form model that is posted to the server." Does this work as documented as the submitted value is not bound to the name value I'm setting in the model when looking formData in preRegistrationHandler's ?

With the following

[2016-04-06 23:59] robertjd commented on #413
Hi Matti, you won't be able to pass the Winston module directly.  You need to create a Winston logger instance, configure it, then pass it to our library.  For example:

[code]

From the docs: http://docs.stormpath.com/nodejs/express/latest/configuration.html#logging

[2016-04-07 00:00] robertjd commented on #414
Thanks for the report, we'll look into this.  It should be 'bar' as you expect.

[2016-04-07 00:11] edjiang commented on #414
@robertjd, I thought we changed it so the name field is no longer required, and is instead based on the property label like `foo`?

https://github.com/stormpath/stormpath-framework-spec/commit/01d8745bb46cea6b6f6204732e7d235b064f20cd#diff-38a8983f478dea556d71617301415c7f

[2016-04-07 05:41] cgilindellmo commented on #413
Hi,
With this I get the same error. Should this work though?

logger.js:
[code]

app.js:
[code]

Thanks,
Matti

[2016-04-14 02:44] erwanjegouzo opened #416 "User cannot login after account verified"
Hi,
I setup my stormpath application to enforce email verification, but I can't login, even after verifying the account. I'm using 3.1.2.

Steps to reproduce:
1/ Create an account
2/ Click on the verification link
3/ Go to the login page and submit the login form
4/ The page was submitted but the user not logged. Login form is displayed again.

What I noticed, is that if I restart my nodeJs app, t

[2016-04-14 07:11] robertjd commented on #416
Hi @erwanjegouzo

For the directory in question, can you tell me what the link base URL is?  By default it points to a placeholder page on our domain, and when you verify there it will be out of sync with the cache in your Express application.  The link base URL needs to point to your application, and it is documented here:

http://docs.stormpath.com/nodejs/express/latest/registration.html#email-v

[2016-04-14 14:36] erwanjegouzo commented on #416
Awesome, thank you!

[2016-04-14 14:36] #416 closed

[2016-04-19 15:57] sizo0 opened #418 "GroupsRequired does not use a configurable 'unauthorized' view"
Hello,
I noticed that we can't use configurable 'unauthorized' view with stormpath because it's hardcoded in **lib/middleware/groups-required.js** *line 27*.

[2016-04-22 23:31] joshmarinacci opened #420 "github auth does not work with JSON"
I'm trying to implement Github auth using the JSON post as described at the bottom of this page:

https://docs.stormpath.com/nodejs/express/latest/social_login.html#json-api

The docs say I should pass in either accessToken or code, depending on which I receive from the provider.  Github gives me 'code', but posting that to the /login route gives me the error:

error {
    "status": 400,
    "mess

[2016-04-22 23:34] robertjd commented on #420
Hi @jakubswiatczak , my understanding with Github is that they only support the page-based direct flow, so I believe this library is only accepting the access code when the user is redirected back to `/callbacks//github` with a code in the URL.  Is there another mechanism by which you are obtaining the code?  Thanks!

[2016-04-22 23:39] joshmarinacci commented on #420
Github redirects back to the url I provided, which in this case is http://localhost:18080/cbs along with a query string. This string contains:

{code: "88427c6ff494c77fed07", state: "bb3b638d-cb4c-f0ce-b01a-3cd860d96310"}

The /cbs route is in my React UI. When the user reaches this page I'm posting back to my API server to the /login route provided by express-stormpath. That's when I get the errr

[2016-04-22 23:41] robertjd commented on #420
Thanks for the update, we'll have to look into how we handle the JSON post to the /login route.  In the meantime, is there a reason why you can't use the callback handler that this library provides by default?  That information will help us design a better solution.  Thanks!

[2016-04-22 23:47] joshmarinacci commented on #420
Are you saying I should have github redirect back to the express server direct, rather than to my react app?  I think that might work, but then the user is leaving the react app and would have to come back again later.

[2016-04-22 23:48] joshmarinacci commented on #420
I'm digging through the express-stormpath codebase right now. where is the /login route actually implemented?

[2016-04-22 23:50] robertjd commented on #420
Yes, in it's current form it's expected that the user will be redirected through /callbacks/github.  Doesn't the user have to leave your React app, to go to the Github site to provide authorization?

The login route handler can be found in lib/controllers/login.js

[2016-04-22 23:55] joshmarinacci commented on #420
True, the user does. I'm still not sure what is really the best way to do Oauth when you have a single page webapp.  Do most people only redir to their API server, then back to the client webapp?

[2016-04-23 00:03] robertjd commented on #420
It depends on what OAuth flows are supported by the provider.  Github only supports the authorization code flow (which requires the user to be redirected through an endpoint on your server), whereas Google and Facebook provide the "implicit" flow, which allows you to do everything in your SPA with the JavaScript libraries that they provide.

[2016-04-23 01:19] edjiang commented on #420
I'm not an expert in what you can do with JS in the browser, but can't you do some sort of pop-up based flow? Eg, open up a pop up to the GitHub authorization page, it redirects to `/callbacks/linkedin`, which then calls `window.opener.location.href = spaUri + '#access_token=' + access_token` and closes itself? So basically hacking the auth code flow into the implicit flow.

@robertjd it would bas

[2016-04-23 03:05] joshmarinacci commented on #420
Okay. I've changed my code and my github settings to that the user is taken to http://localhost:30065/callbacks/github,  which is on my express server.  Now the server renders it's own login dialog with the error message: Token is Invalid.

I've tried deleting users from stormpath and revoking all the github user tokens, same error. I'm unsure how to proceed.